:root {
  --ti-mobile-radio-size: 24px;
  --ti-mobile-radio-checked-color: #f36f64;
  --ti-mobile-radio-disabled-color: #ddd;
  --ti-mobile-radio-inner-border-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-radio-label-font-size: 16px;
}
