.component-css-vars-skeleton() {
  --ti-skeleton-avatar-size: var(--ti-common-size-10x, 40px);
  --ti-skeleton-avatar-background-color: var(--ti-common-color-bg-disabled, #f0f0f0);
  --ti-skeleton-avatar-margin-right: var(--ti-common-space-4x, 16px);
  --ti-skeleton-title-margin-bottom: var(--ti-common-space-4x, 16px);
  --ti-skeleton-title-width: 240px;
  --ti-skeleton-row-margin-bottom: var(--ti-common-space-3x, 12px);
  --ti-skeleton-last-row-width: 60%;
  --ti-skeleton-title-height: 48px;
  --ti-skeleton-rows-margin-top: var(--ti-common-space-6x, 24px);
  --ti-skeleton-rows-margin-bottom: var(--ti-common-space-6x, 24px);
}
