@import '../custom.less';
@import './vars.less';

@action-menu-prefix-cls: ~'@{css-prefix}action-menu';
@dropdown-prefix-cls: ~'@{css-prefix}dropdown';
@dropdown-item-prefix-cls: ~'@{css-prefix}dropdown-item';

@media screen and (max-width: 1280px) {
  .@{action-menu-prefix-cls} {
    .inject-ActionMenu-responsive-vars();

    &__card-mode {
      [class*='tiny-action-menu__card-item'] {
        [class*='tiny-action-menu__item-line'],
        > span[class*='tiny-action-menu__item-line'] {
          margin: 0 var(--tv-ActionMenu-responsive-space-md) !important;
        }
      }
    }
  }
}
