.inject-SkeletonItem-vars() {
  // 骨架屏元素背景设置
  --tv-SkeletonItem-bg-color: var(--tv-color-bg);
  // 骨架屏元素半径设置
  --tv-SkeletonItem-border-radius: var(--tv-border-radius-sm);
  // 图片颜色设置
  --tv-SkeletonItem-image-icon-color: var(--tv-color-bg);
  // 方形高度设置
  --tv-SkeletonItem-square-height: var(--tv-size-height-sm);
  // 圆角半径设置
  --tv-SkeletonItem-circle-border-radius: var(--tv-border-radius-round);
  // 圆形中大尺寸
  --tv-SkeletonItem-circle-large-size: 60px;
  // 圆形中尺寸设置
  --tv-SkeletonItem-circle-medium-size: 48px;
  // 圆形小尺寸设置
  --tv-SkeletonItem-circle-small-size: 20px;
  // 小图片高度设置
  --tv-SkeletonItem-image-small-size-height: 60px;
  // 小图片宽度设置
  --tv-SkeletonItem-image-small-size-width: 60px;
  // 中图片高度设置
  --tv-SkeletonItem-image-medium-size-height: 100px;
  // 中图片宽度设置
  --tv-SkeletonItem-image-medium-size-width: 100px;
  // 大图片高度设置
  --tv-SkeletonItem-image-large-size-height: 200px;
  // 大图片宽度设置
  --tv-SkeletonItem-image-large-size-width: 200px;
  // 渐变颜色设置(hide)
  --tv-SkeletonItem-linear-gradient: linear-gradient(to right, #fafafa, #ebebeb, #fafafa);
}
