.component-css-vars-skeleton-item() {
  --ti-skeleton-item-bg-color: var(--ti-base-color-bg-5, #f5f5f6);
  --ti-skeleton-item-border-radius: var(--ti-common-border-radius-1, 4px);
  --ti-skeleton-item-image-icon-color: var(--ti-base-color-common-2, #adb0b8);
  --ti-skeleton-item-square-height: var(--ti-common-size-4x, 16px);
  --ti-skeleton-item-circle-border-radius: var(--ti-common-border-radius-3, 50%);
  --ti-skeleton-item-circle-large-size: var(--ti-common-size-15x, 60px);
  --ti-skeleton-item-circle-medium-size: var(--ti-common-size-10x, 40px);
  --ti-skeleton-item-circle-small-size: var(--ti-common-size-5x, 20px);
  --ti-skeleton-item-image-small-size-height: var(--ti-common-size-15x, 60px);
  --ti-skeleton-item-image-small-size-width: var(--ti-common-size-15x, 60px);
  --ti-skeleton-item-image-medium-size-height: var(--ti-common-size-25x, 100px);
  --ti-skeleton-item-image-medium-size-width: var(--ti-common-size-25x, 100px);
  --ti-skeleton-item-image-large-size-height: var(--ti-common-size-50x, 200px);
  --ti-skeleton-item-image-large-size-width: var(--ti-common-size-50x, 200px);
  // 渐变颜色设置(hide)
  --ti-skeleton-item-linear-gradient: linear-gradient(100deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 60%) #f2f2f3;
}
