.component-css-vars-skeleton-item() {
  // 骨架屏元素背景设置
  --ti-skeleton-item-bg-color: var(--ti-common-color-bg-normal);
  // 骨架屏元素半径设置
  --ti-skeleton-item-border-radius: 2px;
  // 图片颜色设置
  --ti-skeleton-item-image-icon-color: var(--ti-common-color-bg-normal);
  // 方形高度设置
  --ti-skeleton-item-square-height: var(--ti-common-size-7x);
  // 圆角半径设置
  --ti-skeleton-item-circle-border-radius: 50%;
  --ti-skeleton-item-circle-large-size: var(--ti-common-size-15x);
  // 圆形中尺寸设置
  --ti-skeleton-item-circle-medium-size: var(--ti-common-size-12x);
  // 圆形小尺寸设置
  --ti-skeleton-item-circle-small-size: var(--ti-common-size-5x);
  // 小图片高度设置
  --ti-skeleton-item-image-small-size-height: var(--ti-common-size-15x);
  // 小图片宽度设置
  --ti-skeleton-item-image-small-size-width: var(--ti-common-size-15x);
  // 中图片高度设置
  --ti-skeleton-item-image-medium-size-height: var(--ti-common-size-25x);
  // 中图片宽度设置
  --ti-skeleton-item-image-medium-size-width: var(--ti-common-size-25x);
  // 大图片高度设置
  --ti-skeleton-item-image-large-size-height: var(--ti-common-size-50x);
  // 大图片宽度设置
  --ti-skeleton-item-image-large-size-width: var(--ti-common-size-50x);
  // 渐变颜色设置(hide)
  --ti-skeleton-item-linear-gradient: linear-gradient(to right, #fafafa, #ebebeb, #fafafa);
}
