:root {
  --ti-mobile-timeline-font-size: 14px;
  --ti-mobile-timeline-color: #333;
  --ti-mobile-timeline-hairline-color: #ddd;
  --ti-mobile-timeline-user-color: #191919;
  --ti-mobile-timeline-cycle-color: #666;
  --ti-mobile-timeline-tip-color: #ef4f4f;
  --ti-mobile-timeline-icon-size: 20px;
  --ti-mobile-timeline-complete-color: #ccc;
  --ti-mobile-timeline-complete-icon-border-color: #ccc;
  --ti-mobile-timeline-complete-icon-bgcolor: #f8f8f8;
  --ti-mobile-timeline-fail-icon-color: #f36f64;
  --ti-mobile-timeline-success-icon-color: #50e3c2;
  --ti-mobile-timeline-current-icon-color: radial-gradient(#fff, #fff 15%, #36b2ef, #90d3f3, #cdebfa, #fff);
}
