:root {
  --ti-mobile-numeric-width: 108px;
  --ti-mobile-numeric-height: 28px;
  --ti-mobile-numeric-icon-height: 16px;
  --ti-mobile-numeric-button-background-color: var(--ti-mobile-color-bg-disabled, #f0f0f0);
  --ti-mobile-numeric-font-size: var(--ti-mobile-font-size-m, 14px);
  --ti-mobile-numeric-font-weight: var(--ti-mobile-font-weight-medium, 500);
  --ti-mobile-numeric-text-color: var(--ti-mobile-color-text-primary, #191919);
  --ti-mobile-numeric-icon-color: var(--ti-mobile-color-icon-active, #191919);
  --ti-mobile-numeric-icon-color-disabled: var(--ti-mobile-color-icon-disabled, #c2c2c2);
}
