:root {
  // 宽度
  --ti-mobile-numeric-width: 108px;
  // 高度
  --ti-mobile-numeric-height: 28px;
  // icon高度
  --ti-mobile-numeric-icon-height: 16px;
  // 按钮背景色
  --ti-mobile-numeric-button-background-color: var(--ti-mobile-color-bg-disabled, #f0f0f0);
  // 文字尺寸
  --ti-mobile-numeric-font-size: var(--ti-mobile-font-size-m, 14px);
  // 字重
  --ti-mobile-numeric-font-weight: var(--ti-mobile-font-weight-medium, 500);
  // 文字颜色
  --ti-mobile-numeric-text-color: var(--ti-mobile-color-text-primary, #191919);
  // icon颜色
  --ti-mobile-numeric-icon-color: var(--ti-mobile-color-icon-active, #191919);
  // icon颜色-不可用
  --ti-mobile-numeric-icon-color-disabled: var(--ti-mobile-color-icon-disabled, #c2c2c2);
}
