.component-css-vars-wheel() {
  --ti-mobile-wheel-content-font-size: 14px;
  --ti-mobile-wheel-wrapper-height: 224px;
  --ti-mobile-wheel-wrapper-font-size: 14px;
  --ti-mobile-wheel-wrapper-scroll-margin-top: 38px;
  --ti-mobile-wheel-scroll-hasfooter-line-height: 36px;
  --ti-mobile-wheel-scroll-hasfooter-height: 36px;
  --ti-mobile-wheel-scroll-hasfooter-text-color: #595959;
  --ti-mobile-wheel-scroll-nofooter-line-height: 44px;
  --ti-mobile-wheel-scroll-nofooter-height: 44px;
  --ti-mobile-wheel-scroll-nofooter-text-color: #191919;
  --ti-mobile-wheel-scroll-icon-font-size: 20px;
}
