.component-css-vars-input() {
  // 高度
  --ti-mobile-input-height: 40px;
  // 水平内边距
  --ti-mobile-input-padding-horizontal: var(--ti-mobile-space-3x, 12px);
  // 字号
  --ti-mobile-input-font-size: var(--ti-mobile-font-size-m, 14px);
  // 字族
  --ti-mobile-input-font-family: var(--ti-mobile-font-family);
  // 行高
  --ti-mobile-input-line-height: var(--ti-mobile-line-height-default, 1.5);
  // 字体色
  --ti-mobile-input-text-color: var(--ti-mobile-color-text-primary, #191919);
  // 禁用字体色
  --ti-mobile-input-text-color-disabled: var(--ti-mobile-color-text-disabled, #c2c2c2);
  // 禁用图标色
  --ti-mobile-input-icon-color-disabled: var(--ti-mobile-color-icon-disabled, #c2c2c2);
  // 禁用背景色
  --ti-mobile-input-bg-color-disabled: var(--ti-mobile-color-bg-disabled, #f0f0f0);
  // 边框宽度
  --ti-mobile-input-border-width: var(--ti-mobile-border-width-1, 1px);
  // 边框色
  --ti-mobile-input-border-color: var(--ti-mobile-color-border-default, #c2c2c2);
  // 输入时边框色
  --ti-mobile-input-border-color-active: var(--ti-mobile-color-border-active, #191919);
  // 输入时边框宽度
  --ti-mobile-input-border-width-active: var(--ti-mobile-border-width-1, 1px);
  // 边框禁用色
  --ti-mobile-border-color-disabled: var(--ti-mobile-color-border-disabled, #dbdbdb);
  // 圆角
  --ti-mobile-input-radius: var(--ti-mobile-border-radius-m, 8px);
  // 背景色
  --ti-mobile-input-bg-color: var(--ti-mobile-color, #fff);
  // 占位符字体色
  --ti-mobile-input-placeholder-text-color: var(--ti-mobile-color-text-placeholder, #808080);
  // 占位符字重
  --ti-mobile-input-placeholder-font-weight: var(--ti-mobile-font-weight-medium, 500);
  // medium尺寸高度
  --ti-mobile-input-medium-height: 42px;
  // small尺寸高度
  --ti-mobile-input-small-height: 36px;
  // mini尺寸高度
  --ti-mobile-input-mini-height: 24px;
  // 字数提示字体色
  --ti-mobile-input-count-text-color: var(--ti-mobile-color-text-placeholder, #808080);
  // 字数提示字号
  --ti-mobile-input-count-font-size: var(--ti-mobile-font-size-s, 12px);
  // 超出文本提示语字体色
  --ti-mobile-input-exceed-text-color: var(--ti-mobile-color-error, #f23030);
  // 图标颜色
  --ti-mobile-input-icon-color: var(--ti-mobile-color-icon-default, #808080);
  // 图标尺寸
  --ti-mobile-input-icon-font-size: var(--ti-mobile-font, 20px);
  // prepend内容字体色
  --ti-mobile-input-prepend-text-color: var(--ti-mobile-color-text-secondary, #595959);
  // prepend内容背景色
  --ti-mobile-input-prepend-bg-color: var(--ti-mobile-color-bg-default, #f5f5f5);
  // prepend内容水平内边距
  --ti-mobile-input-prepend-padding-horizontal: var(--ti-mobile-space-5x, 20px);
  // append内容字体色
  --ti-mobile-input-append-text-color: var(--ti-mobile-color-text-secondary, #595959);
  // append内容背景色
  --ti-mobile-input-append-bg-color: var(--ti-mobile-color-bg-default, #f5f5f5);
  // append内容水平内边距
  --ti-mobile-input-append-padding-horizontal: var(--ti-mobile-space-5x, 20px);
  // prefix内容右边距
  --ti-mobile-input-prefix-padding-right: var(--ti-mobile-space-2x, 8px);
  // suffix内容左边距
  --ti-mobile-input-suffix-padding-left: var(--ti-mobile-space-2x, 8px);
  // 标题下边距
  --ti-mobile-input-title-margin-bottom: var(--ti-mobile-space-2x, 8px);
  // 提示信息字号
  --ti-mobile-input-tips-font-size: var(--ti-mobile-font-size-s, 12px);
  // 提示信息上边距
  --ti-mobile-input-tips-margin-top: var(--ti-mobile-space-2x, 8px);

  // 文本域默认高度
  --ti-mobile-textarea-height: 108px;
  // 文本域垂直内边距
  --ti-mobile-textarea-padding-vertical: var(--ti-mobile-space-2x, 8px);
  // 文本域水平内边距
  --ti-mobile-textarea-padding-horizontal: var(--ti-mobile-space-4x, 16px);
  // 文本域字号
  --ti-mobile-textarea-inner-font-size: var(--ti-mobile-font-size-l, 16px);
  // 文本域字体色
  --ti-mobile-textarea-inner-text-color: var(--ti-mobile-color-text-primary, #191919);
  // 文本域占位符字体色
  --ti-mobile-textarea-inner-placeholder-color: var(--ti-mobile-color-text-placeholder, #808080);
  // 文本域标题字号
  --ti-mobile-textarea-title-font-size: var(--ti-mobile-font-size-l, 16px);
  // 文本域标题字体色
  --ti-mobile-textarea-title-text-color: var(--ti-mobile-color-text-primary, #191919);
  // 错误状态背景色
  --ti-mobile-input-form-bg-color-error: var(--ti-mobile-color-error-subtle, #fce3e1);
}
