.component-css-vars-dialog-box() {
  --ti-mobile-dialogbox-background: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-dialogbox-width: 270px;
  --ti-mobile-dialogbox-border-color: #ccc;
  --ti-mobile-dialogbox-title-font-size: 17px;
  --ti-mobile-dialogbox-title-color: var(--ti-mobile-base-color-dark, #000);
  --ti-mobile-dialogbox-body-font-size: 16px;
  --ti-mobile-dialogbox-body-color: var(--ti-mobile-base-color-info-normal, #333);
  --ti-mobile-dialogbox-cancel-button-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-dialogbox-confirm-button-color: var(--ti-mobile-base-color-info-normal, #333);
}
