.DS_Store
node_modules
dist/
dist2/
dist2.7/
dist3/
allDist/
packages/**/runtime
coverage/

/packages/vue/index.ts
/packages/vue/pc.ts
/packages/vue/mobile.ts
/packages/vue/app.ts

/examples/**/playwright-report
vite.config.ts.timestamp*
vitest.config.ts.timestamp*

# local env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
.idea
.history
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
*.stackdump

tgzs
*.tgz


packages/theme/scripts/theme.json
packages/theme/scripts/theme-result.txt
packages/theme/scripts/themeExcel.xlsx

packages/theme/src/theme/*-theme/component.js
