.component-css-vars-statistic() {
  // 标题字体大小
  --ti-statistic-font-size: var(--ti-common-font-size-base, 14px);
  // 后缀字体大小
  --ti-statistic-suffix-font-size: var(--ti-common-font-size-0, 12px);
  // 标题内容字体大小
  --ti-statistic-title-font-size: var(--ti-common-font-size-6, 32px);
  // 标题字体颜色
  --ti-statistic-font-color: var(--ti-common-color-primary-normal, #191919);
  // 标题字体粗细
  --ti-statistic-title-font-weight: var(--ti-common-font-weight-4, normal);
  // 标题上间距
  --ti-statistic-title-margin-top: var(--ti-common-space-5x, 20px);
  // 描述上间距
  --ti-statistic-description-margin-top: -8px;
  // 描述下间距
  --ti-statistic-description-margin-bottom: var(--ti-common-space-6x, 24px);
  // 标题下间距
  --ti-statistic-title-margin-bottom: var(--ti-common-space-5x, 20px);
  // 标题行高
  --ti-statistic-title-line-height: var(ti-common-line-height-4);
  // 前缀插槽字体粗细
  --ti-statistic-font-weight: var(--ti-common-font-weight-5, 500);
  // 前缀字体粗细
  --ti-statistic-prefix-font-weight: var(--ti-common-font-weight-5, 500);
  // 后缀字体粗细
  --ti-statistic-suffix-font-weight: var(--ti-common-font-weight-5, 500);
  // 数字内容字体粗细
  --ti-statistic-description-font-weight: var(--ti-common-font-weight-normal, 400);
  // 后缀左边距
  --ti-statistic-suffix-margin-left: var(--ti-common-space-base, 4px);
  // 数字内容字体
  --ti-statistic-description-font-size: var(--ti-common-font-size-5, 24px);
}
