.inject-Statistic-vars() {
  // 标题字体大小
  --tv-Statistic-font-size: var(--tv-font-size-md);
  // 后缀字体大小
  --tv-Statistic-suffix-font-size: var(--tv-font-size-sm);
  // 标题内容字体大小
  --tv-Statistic-title-font-size: var(--tv-font-size-heading-xl);
  // 标题字体颜色
  --tv-Statistic-font-color: var(--tv-color-text);
  // 标题字体粗细
  --tv-Statistic-title-font-weight: var(--tv-font-weight-regular);
  // 标题上间距
  --tv-Statistic-title-margin-top: 20px;
  // 描述下间距
  --tv-Statistic-description-margin-bottom: 24px;
  // 标题下间距
  --tv-Statistic-title-margin-bottom: 20px;
  // 标题行高
  --tv-Statistic-title-line-height: var(--tv-line-height-number);
  // 前缀插槽字体粗细
  --tv-Statistic-font-weight: 500;
  // 前缀字体粗细
  --tv-Statistic-prefix-font-weight: 500;
  // 后缀字体粗细
  --tv-Statistic-suffix-font-weight: 500;
  // 数字内容字体粗细
  --tv-Statistic-description-font-weight: var(--tv-font-weight-regular);
  // 数字内容字体
  --tv-Statistic-description-font-size: var(--tv-font-size-heading-lg);
}
