.component-css-vars-avatar() {
  --ti-mobile-avatar-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-avatar-bgcolor: #c0c4cc;
  --ti-mobile-avatar-size: 40px;
  --ti-mobile-avatar-font-size: 14px;
  --ti-mobile-avatar-icon-font-size: 18px;
  --ti-mobile-avatar-square-border-radius: 4px;
  --ti-mobile-avatar-large-size: 80px;
  --ti-mobile-avatar-medium-size: 56px;
  --ti-mobile-avatar-small-size: 48px;
}
