:root {
  --ti-mobile-exception-bg-color: var(--ti-mobile-common-bg-color-white, #fff);
  --ti-mobile-exception-main-message-color: var(--ti-mobile-common-color-text-weaken-dark, #999);
  --ti-mobile-exception-main-message-font-size: 13px;
  --ti-mobile-exception-sub-message-color: var(--ti-mobile-common-color-text-weaken-dark, #999);
  --ti-mobile-exception-sub-message-font-size: 12px;
  --ti-mobile-exception-footer-color: var(--ti-mobile-common-color-text-weaken-dark, #999);
  --ti-mobile-exception-footer-font-size: 12px;
  --ti-mobile-exception-image-width: 200px;
  --ti-mobile-exception-image-height: 100px;
  --ti-mobile-exception-content-width: 234px;
  --ti-mobile-exception-button-width: 136px;
  --ti-mobile-exception-button-height: 42px;
}
