:root {
  --ti-mobile-tabs-text-color: var(--ti-mobile-base-color-info-normal, #333);
  --ti-mobile-tabs-bg-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-tabs-font-size: 14px;
  --ti-mobile-tabs-header-height: 48px;
  --ti-mobile-tabs-border-color: #ccc;
  --ti-mobile-tabs-color-active: #4a79fe;
  --ti-mobile-tabs-children-text-color: var(--ti-mobile-base-color-dark, #000);
  --ti-mobile-tabs-children-border-color: #eee;
  --ti-mobile-tabs-new-tab-width: 44px;
  --ti-mobile-tabs-icon-font-size: 24px;
  --ti-mobile-tabs-icon-color: #bbb;
  --ti-mobile-tabs-item-text-color: #595959;
  --ti-mobile-tabs-item-text-color-active: #191919;
  --ti-mobile-tabs-line-bg-color-active: #4a79fe;
}
