@font-face {
    font-family: "iconfont"; /* Project id 3231649 */
    src: url('./assets/iconfont/iconfont.woff2') format('woff2'),
         url('./assets/iconfont/iconfont.woff') format('woff'),
         url('./assets/iconfont/iconfont.ttf') format('truetype');
}
@import 'quill/dist/quill.snow';

@import './assets/common';
@import './assets/mention';
@import './assets/toolbar';
@import './assets/editor';
@import './assets/counter';
@import './assets/size';
@import './assets/font';
@import './assets/lineHeight';
@import './assets/better-table';
@import './assets/custom-image';
@import './assets/fileBar';
@import './assets/link';
@import './assets/fullscreen';

// 模块：字数统计 counter
@include counter;

// 模块：@提醒 mention
@include mention;

// 模块：工具栏 toolbar
@include toolbar;

// @include lineHeightList;

// 图片预览
@include imagePreview;

@include fontFamilyContent;