.component-css-vars-slider() {
  --ti-mobile-slider-track-size: 2px;
  --ti-mobile-slider-track-bgcolor: #ccc;
  --ti-mobile-slider-range-bgcolor: #00c696;
  --ti-mobile-slider-handle-bgcolor: #fff;
  --ti-mobile-slider-handle-size: 24px;
  --ti-mobile-slider-tips-color: #1890ff;
  --ti-mobile-slider-tips-border-radius: 2px;
  --ti-mobile-slider-tips-text-color: #fff;
  --ti-mobile-slider-input-font-size: 14px;
  --ti-mobile-slider-input-color: #888;
  --ti-mobile-slider-input-border-color: #d9d9d9;
  --ti-mobile-slider-input-border-radius: 2px;
  --ti-mobile-slider-input-bgcolor: #fff;
}
