:root {
  // 选项高度
  --ti-mobile-multi-select-item-height: 48px;
  // 选项水平内边距
  --ti-mobile-multi-select-item-padding-horizontal: var(--ti-mobile-space-4x, 16px);
  // 选项字号
  --ti-mobile-multi-select-item-font-size: var(--ti-mobile-font-size-m, 14px);
  // 选项字体色
  --ti-mobile-multi-select-item-text-color: var(--ti-mobile-color-text-secondary, #595959);
  // 选项选中字体色
  --ti-mobile-multi-select-item-text-color-active: var(--ti-mobile-color-text-primary, #191919);
  // 选项禁用字体色
  --ti-mobile-multi-select-item-text-color-disabled: var(--ti-mobile-color-text-disabled, #c2c2c2);
  // 选项选中字重
  --ti-mobile-multi-select-item-font-weight-active: var(--ti-mobile-font-weight-medium, 500);
  // 选项图标大小
  --ti-mobile-multi-select-item-icon-font-size: var(--ti-mobile-font-size-l, 16px);
  // 选项图标禁用色
  --ti-mobile-multi-select-item-icon-color-disabled: var(--ti-mobile-color-icon-disabled, #c2c2c2);
  // 选项背景色
  --ti-mobile-multi-select-item-bg-color: var(--ti-mobile-color-bg-container-1, #fff);
  // 选项点击背景色
  --ti-mobile-multi-select-item-bg-color-touch: var(--ti-mobile-color-bg-active);
  // 子选项缩进
  --ti-mobile-multi-select-item-indent-width: var(--ti-mobile-space-4x, 16px);
}
