:root {
  --ti-mobile-alert-warning-icon-color: var(--ti-mobile-base-color-warning-normal, #faad14);
  --ti-mobile-alert-warning-link-color: #ffc833;
  --ti-mobile-alert-warning-bg-color: #fef6e5;

  --ti-mobile-alert-error-icon-color: var(--ti-mobile-base-color-danger-normal, #f5222d);
  --ti-mobile-alert-error-link-color: #ff4642;
  --ti-mobile-alert-error-bg-color: #fff1f0;

  --ti-mobile-alert-success-icon-color: var(--ti-mobile-base-color-success-normal, #52c41a);
  --ti-mobile-alert-success-link-color: #78d53a;
  --ti-mobile-alert-success-bg-color: #f6ffed;

  --ti-mobile-alert-info-icon-color: var(--ti-mobile-base-color-primary-normal, #1890ff);
  --ti-mobile-alert-info-link-color: #5ec2ff;
  --ti-mobile-alert-info-bg-color: var(--ti-mobile-base-color-hover-background, #e6f7ff);

  --ti-mobile-alert-nomal-height: var(--ti-mobile-base-size-height-minor, 30px);
  --ti-mobile-alert-icon-size: 16px;
  --ti-mobile-alert-content-font-size: var(--ti-mobile-base-font-size-base, 12px);
  --ti-mobile-alert-content-color: var(--ti-mobile-base-color-placeholder, #999);

  --ti-mobile-alert-large-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-alert-large-bgcolor: #039be5;
  --ti-mobile-alert-large-border-radius: 4px;
}
