@import '../custom.less';

@area-prefix-cls: ~'@{css-prefix}area';
@select-prefix-cls: ~'@{css-prefix}select';

.@{area-prefix-cls} {
  .@{select-prefix-cls} {
    width: 296px;
    @apply mr-2;
    @apply mb-2;  
  }  
}
