:root {
  --ti-mobile-file-upload-hairline-color: #ddd;
  --ti-mobile-file-upload-title-color: var(--ti-mobile-base-color-info-normal, #333333);
  --ti-mobile-file-upload-font-size: 16px;
  --ti-mobile-file-upload-icon-size: 24px;
  --ti-mobile-file-upload-icon-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-file-upload-status-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-file-upload-status-font-size: var(--ti-mobile-base-font-size, 12px);
  --ti-mobile-file-upload-picture-card-size: 64px;
  --ti-mobile-file-upload-picture-card-border-color: #ccc;
  --ti-mobile-file-upload-picture-card-bgcolor: var(--ti-mobile-base-color-light, #fff);
}
