.component-css-vars-guide() {
  // 引导框箭头高度
  --ti-guide-arrow-height: var(--ti-common-size-4x);
  // 引导框箭头宽度
  --ti-guide-arrow-width: var(--ti-common-size-4x);
  // 引导框头部左上边框圆角
  --ti-guide-header-border-top-left-radius: var(--ti-common-border-radius-1);
  // 引导框头部右上边框圆角
  --ti-guide-header-border-top-right-radius: var(--ti-common-border-radius-1);
  // 引导框头部行高
  --ti-guide-header-line-height: var(--ti-common-line-height-6);
  // 引导框头部左内边距
  --ti-guide-header-padding-left: var(--ti-common-space-6x);
  // 引导框头部右内边距
  --ti-guide-header-padding-right: var(--ti-common-space-6x);
  // 引导框头部顶部内边距
  --ti-guide-header-padding-top: var(--ti-common-space-6x);
  // 引导框头部背景色
  --ti-guide-header-bg-color: var(--ti-common-color-bg-white-normal);
  // 引导框标题文本色
  --ti-guide-title-text-color: var(--ti-common-color-text-primary);
  // 引导框标题行高
  --ti-guide-title-line-height: var(--ti-common-line-height-6);
  // 引导框标题字重
  --ti-guide-title-font-weight: var(--ti-common-font-weight-7);
  // 引导框关闭按钮图标字号
  --ti-guide-cancel-icon-font-size: var(--ti-common-font-size-5);
  // 引导框关闭按钮图标宽度
  --ti-guide-cancel-icon-width: var(--ti-common-size-5x);
  // 引导框关闭按钮图标高度
  --ti-guide-cancel-icon-height: var(--ti-common-size-5x);
  // 引导框关闭按钮图标行高
  --ti-guide-cancel-icon-line-height: var(--ti-common-line-height-4);
  // 引导框关闭按钮图标颜色
  --ti-guide-cancel-icon-color: var(--ti-common-color-icon-normal);
  // 引导框关闭按钮图标字重
  --ti-guide-cancel-icon-font-weight: var(--ti-common-font-weight-1);
  // 引导框关闭按钮图标顶部外边距
  --ti-guide-cancel-icon-margin-top: -6px;
  // 引导框关闭按钮图标悬浮色
  --ti-guide-cancel-hover-icon-color: var(--ti-common-color-icon-hover);
  // 引导框内容文本色
  --ti-guide-text-text-color: var(--ti-common-color-text-primary);
  // 引导框内容行高
  --ti-guide-text-line-height: var(--ti-common-line-height-4);
  // 引导框内容字号
  --ti-guide-text-font-size: var(--ti-common-font-size-1);
  // 引导框内容上内边距
  --ti-guide-text-padding-top: var(--ti-common-space-6x);
  // 引导框内容水平内边距
  --ti-guide-text-padding-horizontal: var(--ti-common-space-6x);
  // 引导框内容底部内边距
  --ti-guide-text-padding-bottom: calc(var(--ti-common-space-base) * 5.5);
  // 引导框内容滚动wrap左内边距
  --ti-guide-text-scrollbox-padding-right: var(--ti-common-space-2x);
  // 引导框内容滚动条宽度
  --ti-guide-text-scrollbar-width: var(--ti-common-scrollbar-width);
  // 引导框内容滚动条高度
  --ti-guide-text-scrollbar-height: var(--ti-common-scrollbar-height);
  // 引导框内容滚动条圆角
  --ti-guide-text-scrollbar-border-radius: var(--ti-common-scrollbar-thumb-border-radius);
  // 引导框内容滚动条边框色
  --ti-guide-text-scrollbar-border-color: var(--ti-common-scrollbar-thumb-active-bg-color);
  // 引导框底部右下圆角
  --ti-guide-footer-border-bottom-right-radius: var(--ti-common-border-radius-1);
  // 引导框底部左下圆角
  --ti-guide-footer-border-bottom-left-radius: var(--ti-common-border-radius-1);
  // 引导框底部左内边距
  --ti-guide-footer-padding-left: var(--ti-common-space-6x);
  // 引导框底部右内边距
  --ti-guide-footer-padding-right: var(--ti-common-space-6x);
  // 引导框底部底部内边距
  --ti-guide-footer-padding-bottom: var(--ti-common-space-6x);
  // 引导框进度条文本颜色
  --ti-guide-progress-text-color: var(--ti-common-color-primary-normal);
  // 引导框按钮默认样式文本色
  --ti-guide-button-text-color: var(--ti-common-color-text-white);
  // 引导框按钮默认样式圆角
  --ti-guide-button-border-radius: var(--ti-common-border-radius-normal);
  // 引导框按钮默认样式背景色
  --ti-guide-button-bg-color: var(--ti-common-color-primary-normal);
  // 引导框按钮默认样式悬浮背景色
  --ti-guide-button-hover-bg-color: var(--ti-common-color-primary-hover);
  // 引导框按钮默认样式聚焦背景色
  --ti-guide-button-focus-bg-color: var(--ti-common-color-primary-active);
  // 引导框按钮默认样式激活背景色
  --ti-guide-button-active-bg-color: var(--ti-common-color-primary-active);
  // 引导框按钮默认样式禁用背景色
  --ti-guide-button-disable-bg-color: var(--ti-common-color-primary-disabled-bgcolor);
  // 引导框按钮默认样式禁用文本色
  --ti-guide-button-disable-text-color: var(--ti-common-color-primary-disabled-text);
  // 引导框按钮透明样式文本色
  --ti-guide-button-secondary-text-color: var(--ti-common-color-text-primary);
  // 引导框按钮透明样式背景色
  --ti-guide-button-secondary-bg-color: var(--ti-common-color-light);
  // 引导框按钮透明样式边框色
  --ti-guide-button-secondary-border-color: var(--ti-common-color-border);
  // 引导框按钮透明样式悬浮边框色
  --ti-guide-button-secondary-hover-border-color: var(--ti-common-color-primary-normal);
  // 引导框按钮透明样式聚焦边框色
  --ti-guide-button-secondary-focus-border-color: var(--ti-common-color-primary-normal);
  // 引导框按钮透明样式激活边框色
  --ti-guide-button-secondary-active-border-color: var(--ti-common-color-primary-normal);
  // 引导框按钮透明样式禁用背景色
  --ti-guide-button-secondary-disabled-bg-color: var(--ti-common-color-light);
  // 引导框按钮透明样式禁用文本色
  --ti-guide-button-secondary-disabled-text-color: var(--ti-common-color-text-disabled);
  // 引导框按钮透明样式禁用边框色
  --ti-guide-button-secondary-disabled-border-color: var(--ti-common-color-line-disabled);
}
