@import './style.scss';

@mixin emoji {
  .ap {
    display: inline-flex;
    height: 20px;
    width: 20px;
    background-size: 140px;
    background-repeat: no-repeat;
    text-indent: -999px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 1;
    overflow: hidden;
    margin: -3px 5px 5px;
  }

  .ap-kissing_closed_eyes {
    background-position: 0 0;
  }

  .ap-stuck_out_tongue {
    background-position: 0 -20px;
  }

  .ap-stuck_out_tongue_winking_eye {
    background-position: 0 -40px;
  }

  .ap-stuck_out_tongue_closed_eyes {
    background-position: 0 -60px;
  }

  .ap-disappointed {
    background-position: 0 -80px;
  }

  .ap-worried {
    background-position: 0 -100px;
  }

  .ap-angry {
    background-position: 0 -120px;
  }

  .ap-rage {
    background-position: 0 -140px;
  }

  .ap-cry {
    background-position: 0 -160px;
  }

  .ap-persevere {
    background-position: 0 -180px;
  }

  .ap-triumph {
    background-position: 0 -200px;
  }

  .ap-disappointed_relieved {
    background-position: 0 -220px;
  }

  .ap-frowning {
    background-position: 0 -240px;
  }

  .ap-anguished {
    background-position: 0 -260px;
  }

  .ap-fearful {
    background-position: 0 -280px;
  }

  .ap-weary {
    background-position: 0 -300px;
  }

  .ap-sleepy {
    background-position: -20px 0;
  }

  .ap-tired_face {
    background-position: -20px -20px;
  }

  .ap-grimacing {
    background-position: -20px -40px;
  }

  .ap-sob {
    background-position: -20px -60px;
  }

  .ap-open_mouth {
    background-position: -20px -80px;
  }

  .ap-hushed {
    background-position: -20px -100px;
  }

  .ap-cold_sweat {
    background-position: -20px -120px;
  }

  .ap-scream {
    background-position: -20px -140px;
  }

  .ap-astonished {
    background-position: -20px -160px;
  }

  .ap-flushed {
    background-position: -20px -180px;
  }

  .ap-sleeping {
    background-position: -20px -200px;
  }

  .ap-dizzy_face {
    background-position: -20px -220px;
  }

  .ap-no_mouth {
    background-position: -20px -240px;
  }

  .ap-mask {
    background-position: -20px -260px;
  }

  .ap-grinning {
    background-position: -20px -280px;
  }

  .ap-grin {
    background-position: -20px -300px;
  }

  .ap-joy {
    background-position: -40px 0;
  }

  .ap-smiley {
    background-position: -40px -20px;
  }

  .ap-smile {
    background-position: -40px -40px;
  }

  .ap-sweat_smile {
    background-position: -40px -60px;
  }

  .ap-laughing {
    background-position: -40px -80px;
  }

  .ap-innocent {
    background-position: -40px -100px;
  }

  .ap-smiling_imp {
    background-position: -40px -120px;
  }

  .ap-wink {
    background-position: -40px -140px;
  }

  .ap-blush {
    background-position: -40px -160px;
  }

  .ap-yum {
    background-position: -40px -180px;
  }

  .ap-relieved {
    background-position: -40px -200px;
  }

  .ap-heart_eyes {
    background-position: -40px -220px;
  }

  .ap-sunglasses {
    background-position: -40px -240px;
  }

  .ap-smirk {
    background-position: -40px -260px;
  }

  .ap-neutral_face {
    background-position: -40px -280px;
  }

  .ap-expressionless {
    background-position: -40px -300px;
  }

  .ap-unamused {
    background-position: -60px 0;
  }

  .ap-sweat {
    background-position: -60px -20px;
  }

  .ap-pensive {
    background-position: -60px -40px;
  }

  .ap-confused {
    background-position: -60px -60px;
  }

  .ap-confounded {
    background-position: -60px -80px;
  }

  .ap-kissing {
    background-position: -60px -100px;
  }

  .ap-kissing_heart {
    background-position: -60px -120px;
  }

  .ap-kissing_smiling_eyes {
    background-position: -60px -140px;
  }

  .ap-slightly_smiling_face {
    background-position: -60px -160px;
  }

  .ap-slightly_frowning_face {
    background-position: -60px -180px;
  }

  .ap-hugging_face {
    background-position: -60px -200px;
  }

  .ap-face_with_head_bandage {
    background-position: -60px -220px;
  }

  .ap-thinking_face {
    background-position: -60px -240px;
  }

  .ap-nerd_face {
    background-position: -60px -260px;
  }

  .ap-face_with_thermometer {
    background-position: -60px -280px;
  }

  .ap-money_mouth_face {
    background-position: -60px -300px;
  }

  .ap-zipper_mouth_face {
    background-position: -80px 0;
  }

  .ap-relaxed {
    background-position: -80px -20px;
  }

  .ap-white_frowning_face {
    background-position: -80px -40px;
  }

  .ap-scream_cat {
    background-position: -80px -60px;
  }

  .ap-crying_cat_face {
    background-position: -80px -80px;
  }

  .ap-pouting_cat {
    background-position: -80px -100px;
  }

  .ap-kissing_cat {
    background-position: -80px -120px;
  }

  .ap-smirk_cat {
    background-position: -80px -140px;
  }

  .ap-heart_eyes_cat {
    background-position: -80px -160px;
  }

  .ap-smiley_cat {
    background-position: -80px -180px;
  }

  .ap-joy_cat {
    background-position: -80px -200px;
  }

  .ap-smile_cat {
    background-position: -80px -220px;
  }

  .ap-robot_face {
    background-position: -80px -240px;
  }

  .ap-imp {
    background-position: -80px -260px;
  }

  .ap-skull {
    background-position: -80px -280px;
  }

  .ap-ghost {
    background-position: -80px -300px;
  }

  .ap-hankey {
    background-position: -100px 0;
  }

  .ap-fire {
    background-position: -100px -20px;
  }

  .ap-space_invader {
    background-position: -100px -40px;
  }

  .ap-alien {
    background-position: -100px -60px;
  }

  .ap-eyes {
    background-position: -100px -80px;
  }

  .ap-eye {
    background-position: -100px -100px;
  }

  .ap-nose {
    background-position: -100px -120px;
  }

  .ap-ear {
    background-position: -100px -140px;
  }

  .ap-lips {
    background-position: -100px -160px;
  }

  .ap-muscle {
    background-position: -100px -180px;
  }

  .ap-wave {
    background-position: -100px -200px;
  }

  .ap-clap {
    background-position: -100px -220px;
  }

  .ap-writing_hand {
    background-position: -100px -240px;
  }

  .ap-pray {
    background-position: -100px -260px;
  }

  .ap-fist {
    background-position: -100px -280px;
  }

  .ap-thumbsup {
    background-position: -100px -300px;
  }

  .ap-point_down {
    background-position: -120px 0;
  }

  .ap-point_up_2 {
    background-position: -120px -20px;
  }

  .ap-middle_finger {
    background-position: -121px -40px;
  }

  .ap-point_right {
    background-position: -120px -60px;
  }

  .ap-point_left {
    background-position: -120px -80px;
  }

  .ap-open_hands {
    background-position: -120px -100px;
  }

  .ap-ok_hand {
    background-position: -120px -120px;
  }

  .ap-raised_hand_with_fingers_splayed {
    background-position: -120px -140px;
  }

  .ap-spock-hand {
    background-position: -120px -160px;
  }

  .ap-v {
    background-position: -120px -180px;
  }

  .ap-hand {
    background-position: -120px -200px;
  }

  .ap-point_up {
    background-position: -120px -220px;
  }

  .ap-thumbsdown {
    background-position: -120px -240px;
  }

  .ap-facepunch {
    background-position: -120px -260px;
  }
}

.emoji {
  @include emoji;
}
