@import '../common.scss';

:host ::ng-deep {
  #quill-editor {
    position: relative;
  }

  .mention {
    color: #5e7ce0;
  }

  .completions {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  }

  .completions > li {
    margin: 0;
    padding: 0;
  }

  .completions > li > button {
    box-sizing: border-box;
    height: 2em;
    padding: 0.25em 0.5em;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
  }

  .completions > li > button:hover {
    background: #adb0b8;
  }

  .completions > li > button:focus {
    background: #adb0b8;
    outline: none;
  }

  .completions > li > button > .matched {
    font-weight: bold;
    color: #252b3a;
  }

  .completions > li > button > * {
    vertical-align: middle;
  }

  .emoji_completions {
    list-style: none;
    margin: 0;
    border: 1px solid #252b3a;
    padding: 6px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

    li {
      margin: 2px 0;
      padding: 0;
      display: inline-block;

      &:not(:last-of-type) {
        margin-right: 3px;
      }
    }
  }

  .emoji_completions > li > button {
    box-sizing: border-box;
    padding: 3px 2px 6px;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: #f8f8f8;
    border-radius: 3px;
  }

  .emoji_completions > li > button:hover {
    background: #5e7ce0;
    color: #ffffff;
  }

  .emoji_completions > li > button:focus {
    background: #5e7ce0;
    outline: none;
    color: #ffffff;
  }

  .emoji_completions > li > button.emoji-active {
    background: #5e7ce0;
    outline: none;
    color: #ffffff;
  }

  .emoji_completions > li > button > .matched {
    font-weight: bold;
  }

  .emoji_completions > li > button > * {
    vertical-align: middle;
  }

  .ico {
    margin-right: 5px;
    font-size: 18px;
    line-height: 0;
    vertical-align: middle;
  }

  #emoji-palette {
    position: fixed;
    max-width: 250px;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    border: 1px solid #adb0b8;
  }

  .bem {
    font-size: 24px;
    width: 34px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 2px;
  }

  #tab-filters {
    width: 210px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .emoji-tab {
    display: inline-table;
    text-align: center;
    width: 30px;
    height: 100%;
    min-height: 30px;
    cursor: pointer;
  }

  #tab-toolbar {
    display: none;
    background-color: #f8f8f8;
    padding: 4px 4px 0;
    border-bottom: 1px solid #252b3a;
  }

  #tab-toolbar ul {
    margin: 0;
    padding: 0;
  }

  #tab-toolbar .active {
    border-bottom: 2px solid #5e7ce0;
  }

  #tab-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    max-height: 220px;
    overflow-y: scroll;
    padding: 5px 10px;
    background: #ffffff; // TODO：Color-Question
    cursor: auto;
  }

  #quill-editor table {
    width: 100%;
    border-collapse: collapse;
  }

  #quill-editor table td {
    border: 1px solid #252b3a;
    padding: 5px;
    height: 25px;
  }

  button.ql-table::after {
    content: 'TABLE';
  }

  .ql-picker.ql-table .ql-picker-label::before {
    content: 'TABLE';
  }

  button.ql-contain::after {
    content: 'WRAP';
  }

  button.ql-table[value='append-row']::after {
    content: 'ROWS+';
  }

  button.ql-table[value='append-col']::after {
    content: 'COLS+';
  }

  .ql-table,
  .ql-contain {
    width: auto;
    margin-right: -15px;
  }

  .textarea-emoji-control {
    width: 25px;
    height: 25px;
    right: 4px;
    top: 10px;
  }

  #textarea-emoji {
    position: absolute;
    right: 0;
    max-width: 250px;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: 1px solid #252b3a;
  }

  .ql-editor {
    padding-right: 26px;
  }

  .button-emoji {
    margin-bottom: -5px;
  }

  .ql-emojiblot {
    display: inline-block;
    vertical-align: text-top;
  }
}

::ng-deep #emoji-close-div {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
