:root {
  --ti-mobile-multi-select-bg: #fff;
  --ti-mobile-multi-select-header-bg: #fff;
  --ti-mobile-multi-select-header-item-height: 28px;
  --ti-mobile-multi-select-header-item-bg: rgba(0, 0, 0, 0.03);
  --ti-mobile-multi-select-header-item-margin-top: 10px;
  --ti-mobile-multi-select-header-label-text-color: #595959;
  --ti-mobile-multi-select-header-label-font-size: 12px;
  --ti-mobile-multi-select-svg-fill-color: #c2c2c2;
  --ti-mobile-multi-select-content-height: 226px;
  --ti-mobile-multi-select-footer-width: 164px;
}
