/* stylelint-disable function-no-unknown */
@import '../custom.less';
@import './vars.less';

@button-prefix-cls: ~'@{css-prefix}button';
@svg-prefix-cls: ~'@{css-prefix}svg';

.@{button-prefix-cls} {
  .inject-Button-vars();
  @media (max-width: 820px) {
    &.is-icon {
      &:not(.@{button-prefix-cls}--default) {
        .@{svg-prefix-cls} {
          fill: var(--tv-Button-icon-adapt-inverse-tint);
        }
      }
    }
  }
}
