/* stylelint-disable function-no-unknown */
@import '../custom.less';
@import './vars.less';

@button-prefix-cls: ~'@{css-prefix}button';
@svg-prefix-cls: ~'@{css-prefix}svg';

.@{button-prefix-cls} {
  .inject-Button-vars();

  display: inline-block;
  appearance: none;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  user-select: none;
  border-image: initial;
  overflow: hidden;
  transition: all 0.3s;
  outline: 0;
  vertical-align: middle;
  font-weight: var(--tv-Button-font-weight);
  border: var(--tv-Button-border-width) solid;

  /** 1、 圆角场景 */
  border-radius: var(--tv-Button-border-radius);

  &.is-round {
    border-radius: var(--tv-Button-border-radius-round);
  }

  &.is-circle {
    border-radius: var(--tv-Button-border-radius-circle);
  }

  /** 2、尺寸场景 */
  .size-mixin(@size) {
    @fs: %('var(--tv-Button-font-size%a)', @size);
    @h: %('var(--tv-Button-height%a)', @size);
    @p: %('var(--tv-Button-padding-x%a)', @size);
    @mw: %('var(--tv-Button-min-width%a)', @size);

    font-size: e(@fs);
    height: e(@h);
    padding: 0 e(@p);
    min-width: e(@mw);
  }

  .size-mixin(e('')); // 默认尺寸  3

  &.@{button-prefix-cls}--large {
    .size-mixin(-large);
  }
  &.@{button-prefix-cls}--medium {
    .size-mixin(-medium);
  }
  &.@{button-prefix-cls}--small {
    .size-mixin(-small);
  }
  &.@{button-prefix-cls}--mini {
    .size-mixin(-mini);
  }

  /** 3、颜色场景 */
  // 混入基本主题色: text-color bg-color border-color icon-color
  .color-theme-mixin(@theme) {
    @c: %('var(--tv-Button-text-color-%a)', @theme);
    @bg: %('var(--tv-Button-bg-color-%a)', @theme);
    @border: %('var(--tv-Button-border-color-%a)', @theme);
    @icon: %('var(--tv-Button-icon-color-%a)', @theme);

    color: e(@c);
    background-color: e(@bg);
    border-color: e(@border);
    fill: e(@icon);
  }
  // plain 按钮  优先级为：两级类名
  .color-plain-mixin(@theme) {
    @c: %('var(--tv-Button-text-color-plain-%a)', @theme);
    @bg: %('var(--tv-Button-bg-color-plain-%a)', @theme);
    @border: %('var(--tv-Button-border-color-plain-%a)', @theme);

    color: e(@c);
    background-color: e(@bg);
    border-color: e(@border);
  }
  // 激活态： 叠加到主题和plain 状态上。
  .color-active-mixin(@theme, @plain) {
    @bg: %('var(--tv-Button-bg-color%a-active-%a)', @plain, @theme);
    @border: %('var(--tv-Button-border%a-color-active-%a)', @plain, @theme);

    &:active,
    &:focus,
    &:hover,
    &.is-active {
      background-color: e(@bg);
      border-color: e(@border);
    }
  }

  &.@{button-prefix-cls}--default {
    .color-theme-mixin(default);
    .color-active-mixin(default, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(default);
      .color-active-mixin(default, -plain);
    }
  }
  &.@{button-prefix-cls}--primary {
    .color-theme-mixin(primary);
    .color-active-mixin(primary, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(primary);
      .color-active-mixin(primary, -plain);
    }
  }
  &.@{button-prefix-cls}--success {
    .color-theme-mixin(success);
    .color-active-mixin(success, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(success);
      .color-active-mixin(success, -plain);
    }
  }
  &.@{button-prefix-cls}--warning {
    .color-theme-mixin(warning);
    .color-active-mixin(warning, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(warning);
      .color-active-mixin(warning, -plain);
    }
  }
  &.@{button-prefix-cls}--danger {
    .color-theme-mixin(danger);
    .color-active-mixin(danger, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(danger);
      .color-active-mixin(danger, -plain);
    }
  }
  &.@{button-prefix-cls}--info {
    .color-theme-mixin(info);
    .color-active-mixin(info, e(''));

    &.is-plain,
    &.is-ghost {
      .color-plain-mixin(info);
      .color-active-mixin(info, -plain);
    }
  }

  //  ghost： 默认继承plain的状态， 但是bg 强制为透明,比激活态还高  优先级为：四级类名
  &.is-ghost.is-ghost.is-ghost.is-ghost {
    background-color: var(--tv-Button-bg-color-ghost);
  }

  // 禁用态+loading  优先级最高， 大于ghost透明， 五优先级
  &.is-disabled.is-disabled.is-disabled.is-disabled.is-disabled,
  &.is-loading.is-loading.is-loading.is-loading.is-loading,
  &[disabled][disabled][disabled][disabled][disabled] {
    color: var(--tv-Button-text-color-disabled);
    background-color: var(--tv-Button-bg-color-disabled);
    border-color: var(--tv-Button-border-color-disabled);
    fill: var(--tv-Button-icon-color-disabled);
    cursor: not-allowed;
  }

  /** 4、图标 + 文字场景 */

  // 仅图标有边框时，高宽都按尺寸的高度
  .size-only-icon-mixin(@size) {
    @wh: %('var(--tv-Button-height%a)', @size);

    width: e(@wh);
    height: e(@wh);
    min-width: e(@wh);
    min-height: e(@wh);
  }

  // 仅图标无边框时，icon的高宽都按尺寸的高度。 根据设计稿，这里有4像素的padding
  .size-only-icon-ontext-iconsize-mixin(@size) {
    @wh: %('calc( var(--tv-Button-height%a) - 8px)', @size);

    font-size: e(@wh);
  }

  // 默认图标场景: icon-size 随着尺寸的font-size而变化。
  .tiny-svg {
    vertical-align: text-top; //居中
  }

  // 仅图标场景
  &.is-only-icon.is-only-icon {
    // 只有default主题的边框色和 hover 边框色 是和主题色相反的。其它都随主题的色。
    // 仅图标的plain场景，无对应示例，不处理。
    &.@{button-prefix-cls}--default {
      border-color: var(--tv-Button-border-color-only-icon-default);

      &:active,
      &:focus,
      &:hover,
      &.is-active {
        border-color: var(--tv-Button-border-color-only-icon-default-hover);
      }
    }

    padding: 0; //不需要padding

    .size-only-icon-mixin(e('')); // 不同尺寸时，大小不同

    &.@{button-prefix-cls}--large {
      .size-only-icon-mixin(-large);
    }
    &.@{button-prefix-cls}--medium {
      .size-only-icon-mixin(-medium);
    }
    &.@{button-prefix-cls}--small {
      .size-only-icon-mixin(-small);
    }
    &.@{button-prefix-cls}--mini {
      .size-only-icon-mixin(-mini);
    }

    &:not(.is-circle) {
      border-radius: var(--tv-Button-border-radius-only-icon);
    }

    // 无边框时： 图标大小为button的大小的高度
    &.@{button-prefix-cls}--text {
      border: none;
      border-radius: var(--tv-Button-border-radius-only-icon-ontext); // 影响hover时的阴影

      background-color: var(--tv-Button-bg-color-only-icon-ontext);

      &:active,
      &:focus,
      &:hover,
      &.is-active {
        background-color: var(--tv-Button-bg-color-only-icon-ontext-hover);
      }
      // 不同的尺寸，icon大小 为高度。 原型稿不包含
      .size-only-icon-ontext-iconsize-mixin(e(''));

      &.@{button-prefix-cls}--large {
        .size-only-icon-ontext-iconsize-mixin(-large);
      }
      &.@{button-prefix-cls}--medium {
        .size-only-icon-ontext-iconsize-mixin(-medium);
      }
      &.@{button-prefix-cls}--small {
        .size-only-icon-ontext-iconsize-mixin(-small);
      }
      &.@{button-prefix-cls}--mini {
        .size-only-icon-ontext-iconsize-mixin(-mini);
      }
    }
  }

  // 纯文字： 没有主题色，只有文本蓝色和禁用2种情况。
  &.@{button-prefix-cls}--text:not(.is-only-icon):not(.is-icon) {
    border: none;
    border-radius: 0;

    // 没有尺寸，没有padding
    padding: 0;
    min-width: unset;
    height: auto;
    font-size: var(--tv-Button-font-size-ontext);
    color: var(--tv-Button-text-color-ontext);
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    &.is-disabled.is-disabled.is-disabled.is-disabled,
    &.is-loading.is-loading.is-loading.is-loading,
    &[disabled][disabled][disabled][disabled][disabled][disabled] {
      color: var(--tv-Button-text-color-ontext-disabled);
      background-color: transparent;
      text-decoration: none;
    }
  }

  // 混排有边框： 图标大小随文字即可，只添加中间的margin
  &.is-icon {
    .tiny-svg {
      margin-right: var(--tv-Button-margin-right-isicon-svg);
    }
  }

  // 混排无边框： 设计稿的margin2.5不合适， 统一4px吧。
  &.@{button-prefix-cls}--text.is-icon {
    border: none;
    border-radius: 0;
    padding: 0;
    min-width: unset;
    height: auto;
    font-size: var(--tv-Button-font-size-isicon-ontext);
    color: var(--tv-Button-text-color-isicon-ontext);
    background-color: transparent;

    &:hover {
      text-decoration: underline;
    }

    .tiny-svg {
      margin-right: var(--tv-Button-margin-right-isicon-svg);
    }

    &.is-disabled.is-disabled.is-disabled.is-disabled,
    &.is-loading.is-loading.is-loading.is-loading,
    &[disabled][disabled][disabled][disabled][disabled][disabled] {
      color: var(--tv-Button-text-color-ontext-disabled);
      background-color: transparent;
      text-decoration: none;
    }
  }

  // <img> + 文字
  & > img {
    margin-right: 4px;
    vertical-align: middle;
  }

  /** 5、其他场景 */
  & + & {
    margin-left: var(--tv-Button-margin-left-btn-to-btn-md);
  }
  &.@{button-prefix-cls}--large + &.@{button-prefix-cls}--large,
  &.@{button-prefix-cls}--medium + &.@{button-prefix-cls}--medium {
    margin-left: var(--tv-Button-margin-left-btn-to-btn-lg);
  }

  &.is-loading > svg {
    margin-right: var(--tv-Button-margin-right-isloading-svg);
  }
}
