.component-css-vars-mini-picker() {
  --ti-mobile-mini-picker-mask-background: rgba(0, 0, 0, 0.6);
  --ti-mobile-mini-picker-content-bgcolor: #ddd;
  --ti-mobile-mini-picker-toolbar-height: 44px;
  --ti-mobile-mini-picker-toolbar-bgcolor: #fff;
  --ti-mobile-mini-picker-toolbar-font-size: 14px;
  --ti-mobile-mini-picker-toolbar-border-color: #ddd;
  --ti-mobile-mini-picker-toolbar-action-color: #039be5;
  --ti-mobile-mini-picker-toolbar-cancel-color: #666;
  --ti-mobile-mini-picker-toolbar-title-color: #333;
  --ti-mobile-mini-picker-toolbar-title-font-size: 17px;
  --ti-mobile-mini-picker-columns-bgcolor: #fff;
}
