:root {
  --ti-mobile-switch-width-normal: 40px;
  --ti-mobile-switch-height-mormal: 24px;
  --ti-mobile-switch-width-mini: 36px;
  --ti-mobile-switch-height-mini: 20px;
  --ti-mobile-switch-btn-size-normal: 18px;
  --ti-mobile-switch-btn-size-mini: 16px;
  --ti-mobile-switch-bg-color-default: var(--ti-color-bg-control-default, #c2c2c2);
  --ti-mobile-switch-bg-color-disabled: var(--ti-color-bg-control-disable-1, #dbdbdb);
  --ti-mobile-switch-bg-color-checked-disabled: var(--ti-color-bg-control-disable-2, #b3d6ff);
  --ti-mobile-switch-bg-color-checked: var(--ti-color-bg-control-active, #1476ff);
}
