:root {
  // 搜索框高度
  --ti-mobile-search-height: 56px;
  // 输入框高度
  --ti-mobile-search-input-height: 40px;
  // 输入文字尺寸
  --ti-mobile-search-font-size: var(--ti-mobile-font-size-l, 16px);
  // 灰色主题输入框背景色
  --ti-mobile-search-input-bg-color-gray: var(--ti-mobile-color-bg-default, #f5f5f5);
  // 常规主题输入框背景色
  --ti-mobile-search-input-bg-color-primary: var(--ti-mobile-color-bg-container-1, #fff);
  // 灰色主题文字颜色
  --ti-mobile-search-text-color-gray: var(--ti-mobile-color-text-primary, #191919);
  // 常规主题文字颜色
  --ti-mobile-search-text-color-primary: var(--ti-mobile-color-text-primary, #191919);
  // 灰色主题搜索图标填充色
  --ti-mobile-search-icon-fill-color-gray: var(--ti-mobile-color-icon-default, #808080);
  // 常规主题搜索图标填充色
  --ti-mobile-search-icon-fill-color-primary: var(--ti-mobile-color-icon-default, #808080);
  // 常规主题搜索图标填充色
  --ti-mobile-search-caret-color-primary: var(--ti-mobile-color-text-primary, #191919);
  // 灰色主题搜索图标填充色
  --ti-mobile-search-caret-color-gray: var(--ti-mobile-color-text-primary, #191919);
  // 常规主题背景色
  --ti-mobile-search-bg-color-primary: var(--ti-mobile-color-bg-default, #f5f5f5);
  // 灰色主题背景色
  --ti-mobile-search-bg-color-gray: var(--ti-mobile-color-bg-container-1, #fff);
  // 常规主题占位文字颜色
  --ti-mobile-search-placeholder-text-color-primary: var(--ti-mobile-color-text-placeholder, #808080);
  // 灰色主题占位文字颜色
  --ti-mobile-search-placeholder-text-color-gray: var(--ti-mobile-color-text-placeholder, #808080);
}
