.inject-NumberAnimation-vars() {
  // 数字内容下间距
  --tv-NumberAnimation-margin-bottom: 20px;
  // 数字内容字体粗细
  --tv-NumberAnimation-font-weight: var(--tv-font-weight-regular, 400);
  // 数字内容字体
  --tv-NumberAnimation-font-size: var(--tv-font-size-heading-lg, 24px);
}
