.component-css-vars-quarter-panel() {
  // 头部分割线
  --tv-QuarterPanel-border-color: var(--tv-color-border-divider, #f0f0f0);
  // 行高
  --tv-QuarterPanel-header-line-height: var(--tv-line-height-number, 1.5);
  // 头部内间距
  --tv-QuarterPanel-header-padding: var(--tv-space-lg, 12px) var(--tv-space-xl, 16px);
  // 头部外间距
  --tv-QuarterPanel-header-margin-bottom: var(--tv-space-lg, 12px);
}
