.inject-ColorPicker-vars() {
  // 按钮边框色
  --tv-ColorPicker-border-color: var(--tv-color-border-ghost);
  // 按钮边框圆角
  --tv-ColorPicker-border-radius-md: var(--tv-border-radius-md);
  // 按钮边框小圆角
  --tv-ColorPicker-border-radius-xs: var(--tv-border-radius-xs);
  // 按钮垂直内边距
  --tv-ColorPicker-padding-y: var(--tv-space-sm);
  // 按钮水平内边距
  --tv-ColorPicker-padding-x: var(--tv-space-sm);
  // 没用(hide)
  --tv-ColorPicker-spacing-2x: var(--tv-space-md);

  // 超大尺寸高度
  --tv-ColorPicker-size-large-height: var(--tv-size-height-xl);
  // 超大尺寸宽度
  --tv-ColorPicker-size-large-width: var(--tv-size-height-xl);

  // 中等尺寸高度
  --tv-ColorPicker-size-medium-height: var(--tv-size-height-lg);
  // 中等尺寸最小宽度
  --tv-ColorPicker-size-medium-width: var(--tv-size-height-lg);

  // 小型高度
  --tv-ColorPicker-size-small-height: var(--tv-size-height-sm);
  // 小尺寸宽度
  --tv-ColorPicker-size-small-width: var(--tv-size-height-sm);

  // 迷你尺寸按钮高度
  --tv-ColorPicker-size-mini-height: var(--tv-size-height-xs);
  // 迷你尺寸宽度
  --tv-ColorPicker-size-mini-width: var(--tv-size-height-xs);
}
