.component-css-vars-color-picker() {
  // 默认按钮背景色(hide)
  --ti-color-picker-bg-color: var(--ti-common-color-transparent, transparent);
  // 按钮边框色
  --ti-color-picker-border-color: var(--ti-base-color-common-2, #808080);
  // 按钮边框厚度
  --ti-color-picker-border-weight: var(--ti-common-border-weight-normal, 1px);
  // 没用(hide)
  --ti-color-picker-border-radius-xs: var(--ti-common-border-radius-normal, 6px);
  // 按钮边框圆角
  --ti-color-picker-border-radius-sm: var(--ti-common-border-radius-1, 2px);
  // 没用(hide)
  --ti-color-picker-border-radius: var(--ti-common-border-radius-2, 4px);
  // 按钮垂直内边距
  --ti-color-picker-padding-vertical: var(--ti-common-space-base, 4px);
  // 按钮水平内边距
  --ti-color-picker-padding-horizontal: var(--ti-common-space-base, 4px);
  // 没用(hide)
  --ti-color-picker-spacing-2x: var(--ti-common-space-2x, 8px);
  // 没用(hide)
  --ti-color-picker-shadow: var(--ti-common-shadow-2-down, 0 2px 8px 0 rgba(0, 0, 0, 0.2));
  // 没用(hide)
  --ti-color-picker__select__wrapper-zindex: 1000;
  // 没用(hide)
  --ti-color-picker__wrapper-bg: var(--ti-common-color-bg-white-emphasize, #f0f0f0);

  // 超大尺寸高度
  --ti-color-picker-size-large-height: var(--ti-common-size-16x, 64px);
  // 超大尺寸宽度
  --ti-color-picker-size-large-width: var(--ti-common-size-16x, 64px);

  // 中等尺寸高度
  --ti-color-picker-size-medium-height: var(--ti-common-size-12x, 48px);
  // 中等尺寸最小宽度
  --ti-color-picker-size-medium-width: var(--ti-common-size-12x, 48px);

  // 小型高度
  --ti-color-picker-size-small-height: var(--ti-common-size-9x, 36px);
  // 小尺寸宽度
  --ti-color-picker-size-small-width: var(--ti-common-size-9x, 36px);

  // 迷你尺寸按钮高度
  --ti-color-picker-size-mini-height: var(--ti-common-size-6x, 24px);
  // 迷你尺寸宽度
  --ti-color-picker-size-mini-width: var(--ti-common-size-6x, 24px);
}