.component-css-vars-colorpicker() {
  --ti-color-picker-background: var(--ti-common-color-transparent);
  --ti-color-picker-border-color: var(--ti-base-color-common-2);
  --ti-color-picker-border-weight: var(--ti-common-border-weight-normal);
  --ti-color-picker-border-radius-xs: var(--ti-common-border-radius-normal);
  --ti-color-picker-border-radius-sm: var(--ti-common-border-radius-1);
  --ti-color-picker-border-radius: var(--ti-common-border-radius-2);
  --ti-color-picker-spacing: var(--ti-common-space-base);
  --ti-color-picker-spacing-2x: var(--ti-common-space-2x);
  --ti-color-picker-shadow: var(--ti-common-shadow-2-down);
  --ti-color-picker__select__wrapper-zindex: 1000;
  --ti-color-picker__wrapper-bg: var(--ti-common-color-bg-white-emphasize);
}