@import '../mixins/common.less';
@import '../custom.less';
@import '../transition/timepicker.less';

@date-table-prefix-cls: ~'@{css-prefix}date-table';
@month-table-prefix-cls: ~'@{css-prefix}month-table';
@year-table-prefix-cls: ~'@{css-prefix}year-table';
@time-spinner-prefix-cls: ~'@{css-prefix}time-spinner';
@date-editor-prefix-cls: ~'@{css-prefix}date-editor';
@range-editor-prefix-cls: ~'@{css-prefix}range-editor';
@picker-panel-prefix-cls: ~'@{css-prefix}picker-panel';
@date-picker-prefix-cls: ~'@{css-prefix}date-picker';
@date-range-picker-prefix-cls: ~'@{css-prefix}date-range-picker';
@time-range-picker-prefix-cls: ~'@{css-prefix}time-range-picker';
@time-panel-prefix-cls: ~'@{css-prefix}time-panel';
@time-select-prefix-cls: ~'@{css-prefix}time-select';
@scrollbar-prefix-cls: ~'@{css-prefix}scrollbar';
@input-prefix-cls: ~'@{css-prefix}input';
@range-prefix-cls: ~'@{css-prefix}range';
@button-prefix-cls: ~'@{css-prefix}button';
@svg-prefix-cls: ~'@{css-prefix}svg';

.@{date-editor-prefix-cls} {
  .@{input-prefix-cls}__icon {
    @apply fill-color-text-placeholder;

    svg:hover {
      @apply fill-color-text-placeholder;
    }

    svg.baseClearicon:hover {
      @apply fill-color-icon-primary;
    }
  }
}

.@{date-table-prefix-cls} {
  @apply text-xs;
  .user-select(none);

  &.is-week-mode &__row:hover {
    td {
      &.available:hover {
        @apply text-color-text-primary;
      }

      &:first-child div {
        @apply ~'ml-[5px]';
        @apply rounded-tl;
        @apply rounded-bl;
      }

      &:last-child div {
        margin-right: 5px;
        @apply rounded-tr;
        @apply rounded-br;
      }
    }

    div {
      background-color: rgba(0, 103, 209, 0.1);
    }
  }

  &.is-week-mode &__row.current {
    div {
      background-color: rgba(0, 103, 209, 0.1);
    }

    td.available {
      &:hover span {
        @apply bg-transparent;
      }

      &.start-date span,
      &.end-date span {
        @apply bg-color-brand;
      }
    }
  }

  tr > td {
    @apply pt-0 pr-0~'pb-2.5' pl-0;
    @apply box-border;
    @apply text-center;
    @apply cursor-pointer;
    @apply relative;

    div {
      @apply h-8;
      @apply box-border;
    }

    span {
      @apply w-8;
      @apply h-8;
      @apply leading-8;
      @apply block;
      @apply absolute;
      @apply ~'left-1/2';
      @apply box-border;
      @apply ~"-translate-x-2/4";
      @apply rounded;
    }

    &.next-month,
    &.pre-month {
      @apply text-color-text-disabled;
      @apply cursor-pointer;
    }

    &.today {
      @apply relative;

      span {
        @apply border border-solid border-color-border-focus;
        line-height: 30px;
      }

      &.end-date,
      &.start-date {
        span {
          @apply text-color-text-inverse;
        }
      }
    }

    &.available:hover span {
      background-color: rgba(0, 103, 209, 0.1);
    }

    &.current:not(.disabled) span {
      @apply text-color-text-inverse;
      @apply bg-color-brand;
    }

    &.end-date,
    &.start-date {
      div {
        @apply text-color-text-inverse;
      }

      span {
        @apply bg-color-brand;
      }
    }

    &.start-date,
    &:first-child {
      div {
        @apply rounded-tl;
        @apply rounded-bl;
      }
    }

    &.start-date div {
      margin-left: 9px;
    }

    &.end-date,
    &:last-child {
      div {
        @apply rounded-tr;
        @apply rounded-br;
      }
    }

    &.end-date div {
      margin-right: 9px;
    }

    &.disabled {
      div {
        @apply bg-color-bg-2;
        @apply opacity-100;
        @apply cursor-not-allowed;
        @apply text-color-text-disabled;
      }
    }

    &.in-range {
      div,
      div:hover {
        background-color: rgba(0, 103, 209, 0.1);
      }

      &.end-date:hover,
      &.start-date:hover {
        span {
          @apply bg-color-brand;
        }
      }
    }

    &.selected {
      div {
        @apply ~'ml-1.5';
        @apply ~"mr-1.5";
        background-color: rgba(0, 103, 209, 0.1);
        @apply rounded;

        &:hover {
          background-color: rgba(0, 103, 209, 0.1);
        }
      }

      span {
        @apply bg-color-brand;
        @apply text-color-text-inverse;
        @apply border-none;
        @apply rounded;
      }

      &.available:hover span {
        @apply bg-color-brand;
      }
    }

    &.week {
      font-size: 80%;
      @apply text-color-text-primary;
    }
  }

  tr > th {
    padding: 16px 5px;
    @apply text-color-text-primary;
    @apply font-normal;
  }
}

.@{month-table-prefix-cls},
.@{year-table-prefix-cls} {
  @apply text-xs;
  @apply -m-px;
  @apply border-collapse;

  td:not(.in-range),
  td.in-range {
    @apply text-center;
    @apply cursor-pointer;
    @apply py-4 px-0;

    &.today {
      .cell {
        @apply border border-solid border-color-border-focus;
        line-height: 46px;
      }

      &.end-date,
      &.start-date {
        .cell {
          @apply text-color-text-inverse;
        }
      }
    }

    &.disabled {
      .cell {
        @apply bg-color-bg-2;
        @apply cursor-not-allowed;
        @apply text-color-text-disabled;

        &:hover {
          @apply text-color-text-disabled;
        }
      }
    }

    .cell {
      @apply w-12;
      @apply h-12;
      line-height: 48px;
      @apply box-border;
      @apply block;
      @apply text-color-text-primary;
      @apply my-0;
      @apply rounded;

      &:hover {
        background: rgba(0, 103, 209, 0.1);
      }
    }

    &.in-range {
      div,
      div:hover {
        background-color: rgba(0, 103, 209, 0.1);
      }
    }

    &.end-date,
    &.start-date {
      div {
        @apply text-color-text-inverse;
      }

      .cell {
        @apply text-color-text-inverse;
        @apply bg-color-brand;
      }
    }

    &.start-date div {
      @apply rounded-tl;
      @apply rounded-bl;
    }

    &.end-date div {
      @apply rounded-tr;
      @apply rounded-br;
      @apply mr-5;
    }

    &:not(.in-range) {
      div {
        @apply h-auto;
        @apply p-0;
      }
    }

    &.current:not(.disabled) .cell {
      &,
      &:hover {
        @apply text-color-text-inverse;
        @apply bg-color-brand;
      }
    }
  }
}

.@{time-spinner-prefix-cls} {
  &__wrapper {
    max-height: 276px;
    @apply overflow-auto;
    @apply inline-block;
    @apply ~'w-1/2';
    @apply align-top;
    @apply relative;

    .@{scrollbar-prefix-cls}__wrap:not(.@{scrollbar-prefix-cls}__wrap--hidden-default) {
      padding-bottom: 15px;
    }

    &.is-arrow {
      @apply left-0;
      @apply box-border;
      @apply text-center;
      @apply overflow-hidden;

      .@{time-spinner-prefix-cls}__list {
        @apply ~"-translate-y-8";

        &::after,
        &::before {
          height: 98px;
        }
      }

      .@{time-spinner-prefix-cls}__item:hover:not(.disabled):not(.active) {
        background: none;
        @apply cursor-default;
      }
    }

    .@{time-spinner-prefix-cls}__list {
      @apply ~"-translate-y-1.5";
    }
  }

  &__arrow {
    @apply text-xs;
    @apply text-color-text-placeholder;
    @apply h-3;
    @apply leading-3;
    @apply absolute;
    @apply left-0;
    @apply w-full;
    @apply ~'z-[1]';
    @apply text-center;
    @apply cursor-pointer;

    .@{svg-prefix-cls} {
      @apply fill-color-text-primary;
    }

    &:hover .@{svg-prefix-cls} {
      @apply fill-color-brand;
    }

    &.@{css-prefix}icon-arrow-up {
      @apply top-9;
    }

    &.@{css-prefix}icon-arrow-down {
      @apply bottom-9;
    }

    &.@{input-prefix-cls} {
      width: 70%;

      .@{input-prefix-cls}__inner {
        @apply p-0;
        @apply text-center;
      }
    }
  }

  &__list {
    @apply p-0;
    @apply m-0;
    @apply list-none;
    @apply text-center;

    &::after,
    &::before {
      @apply content-[''];
      @apply block;
      @apply w-full;
      height: 120px;
    }
  }

  &__item {
    @apply text-sm;
    @apply text-color-text-primary;
    @apply h-12;
    line-height: 48px;

    span {
      @apply inline-block;
      @apply leading-6;
      @apply h-6;
      @apply py-0 px-1;
      @apply my-3 mx-0;
      @apply rounded;
    }

    &:hover:not(.disabled):not(.active) {
      @apply cursor-pointer;

      span {
        background: rgba(0, 103, 209, 0.1);
      }
    }

    &.active:not(.disabled) {
      @apply text-color-text-primary;
      @apply font-bold;
    }

    &.disabled {
      @apply text-color-text-placeholder;
      @apply cursor-not-allowed;
    }
  }

  &.has-seconds .@{time-spinner-prefix-cls}__wrapper {
    @apply ~"w-1/3";
  }
}

.@{date-editor-prefix-cls} {
  @apply relative;
  @apply inline-block;
  @apply text-left;

  &.@{input-prefix-cls},
  &.@{input-prefix-cls}__inner {
    @apply w-full;
  }

  &--monthrange {
    &.@{input-prefix-cls},
    &.@{input-prefix-cls}__inner {
      width: 300px;
    }
  }

  &.show-auto-width {
    &.@{input-prefix-cls},
    &.@{input-prefix-cls}__inner {
      @apply w-full;
    }
  }

  &--daterange,
  &--timerange {
    &.@{input-prefix-cls},
    &.@{input-prefix-cls}__inner {
      width: 350px;
    }
  }

  &--datetimerange {
    &.@{input-prefix-cls},
    &.@{input-prefix-cls}__inner {
      width: 400px;
    }
  }

  &--dates {
    .@{input-prefix-cls}__inner {
      .text-overflow();
    }
  }

  .@{input-prefix-cls}__label {
    @apply text-color-text-placeholder;
    @apply text-xs;
    @apply mr-2;
    @apply inline-block;
    @apply text-left;
    .text-overflow();
    max-width: 100px;
  }

  .@{input-prefix-cls}__icon {
    @apply cursor-pointer;

    .baseClearicon {
      @apply mr-2;
      @apply !transform-none;
    }

    &:not(.@{range-prefix-cls}__icon) {
      @apply flex;
    }
  }

  .@{range-prefix-cls}__icon {
    @apply text-base;
    @apply text-color-text-secondary;
    margin-left: -5px;
    @apply float-left;
    @apply leading-none;
  }

  .@{range-prefix-cls}-input,
  .@{range-prefix-cls}-separator {
    @apply text-xs;
    @apply h-full;
    @apply m-0;
    @apply text-center;
    @apply inline-block;
  }

  .@{range-prefix-cls}-input {
    @apply appearance-none;
    @apply border-none;
    @apply outline-0;
    @apply p-0;
    @apply ~"w-[35%]";
    @apply text-color-text-primary;
    .text-overflow();
    .placeholder();
  }

  .@{range-prefix-cls}-separator {
    padding: 0 5px;
    line-height: 20px;
    width: 12%;
    @apply text-color-text-primary;
  }

  .@{range-prefix-cls}__close-icon {
    @apply absolute;
    @apply ~'right-1.5';
    @apply text-base;
    width: 25px;
    float: right;
    @apply leading-8;
    @apply mr-5;
    @apply flex;
    @apply justify-center;
    @apply items-center;
  }
}

.@{range-editor-prefix-cls}:not(.is-display-only) {
  &.@{input-prefix-cls}__inner {
    @apply relative;
    @apply inline-flex;
    @apply items-center;
    padding: 3px 10px;
  }

  .@{range-prefix-cls}-input {
    @apply leading-none;
  }

  &.is-active,
  &.is-active:hover {
    @apply border-color-border-focus;
  }

  &--medium {
    &.@{input-prefix-cls}__inner {
      height: 42px;
    }

    .@{range-prefix-cls}-separator {
      line-height: 34px;
      @apply text-xs;
    }

    .@{range-prefix-cls}-input {
      @apply text-xs;
    }

    .@{range-prefix-cls}__close-icon,
    .@{range-prefix-cls}__icon {
      line-height: 34px;
    }
  }

  &--small {
    &.@{input-prefix-cls}__inner {
      @apply h-9;
    }

    .@{range-prefix-cls}-separator {
      @apply leading-7;
      @apply text-sm;
    }

    .@{range-prefix-cls}-input {
      @apply text-sm;
    }

    .@{range-prefix-cls}__close-icon,
    .@{range-prefix-cls}__icon {
      @apply leading-7;
    }
  }

  &--mini {
    &.@{input-prefix-cls}__inner {
      @apply h-6;
    }

    .@{range-prefix-cls}-separator {
      @apply leading-4;
      @apply text-xs;
    }

    .@{range-prefix-cls}-input {
      @apply text-xs;
    }

    .@{range-prefix-cls}__close-icon,
    .@{range-prefix-cls}__icon {
      @apply leading-4;
    }
  }

  &.is-disabled {
    @apply bg-color-bg-2;
    @apply border-color-bg-3;
    @apply text-color-text-disabled;
    @apply cursor-not-allowed;

    &:focus,
    &:hover {
      @apply border-color-bg-3;
    }

    input {
      @apply text-color-text-disabled;
      @apply bg-color-bg-2;
      @apply cursor-not-allowed;
      .placeholder();
    }

    .@{range-prefix-cls}-separator {
      @apply text-color-text-disabled;
    }
  }
}

.@{range-editor-prefix-cls}.is-display-only {
  @apply relative;
  @apply border-0;

  & > *:not(.@{range-editor-prefix-cls}-display-only) {
    @apply invisible;
  }

  & > .@{range-editor-prefix-cls}-display-only {
    @apply absolute;
    @apply top-2/4;
    @apply left-0;
    @apply ~"-translate-y-2/4";
    @apply max-w-full;
    @apply truncate;
    @apply text-xs;
  }
}

.@{picker-panel-prefix-cls} {
  @apply text-color-text-primary;
  @apply text-xs;
  @apply shadow-md;
  @apply bg-color-bg-1;
  @apply rounded;
  @apply leading-4;
  @apply ~'my-0.5' mx-0;

  &__body-wrapper::after,
  &__body::after {
    @apply content-[''];
    @apply table;
    @apply clear-both;
  }

  &__content {
    @apply relative;
    @apply py-0 px-4;

    &:not(.@{date-range-picker-prefix-cls}__content) {
      .@{month-table-prefix-cls},
      .@{year-table-prefix-cls} {
        td .cell {
          @apply my-0;
          @apply mx-auto;
        }
      }
    }
  }

  &__footer {
    @apply border-t border-t-color-bg-3;
    @apply py-3 px-4;
    @apply bg-color-bg-1;
    @apply overflow-hidden;

    .@{button-prefix-cls} {
      min-width: 72px;
      @apply h-7;
      @apply text-xs;

      &:first-child {
        @apply pl-0;
      }

      &:last-child {
        float: right;
      }
    }

    .@{button-prefix-cls}--text {
      @apply text-left;
    }
  }

  &__shortcut {
    @apply block;
    width: 100px;
    @apply my-0 mx-auto;
    @apply rounded;
    @apply border-0;
    @apply bg-transparent;
    @apply leading-8;
    @apply text-xs;
    @apply text-color-text-primary;
    @apply pl-4;
    @apply text-left;
    @apply outline-0;
    @apply cursor-pointer;

    &:hover {
      @apply bg-color-bg-2;
    }
  }

  &__shortcut-selected[type='button'] {
    @apply text-color-brand;
    background-color: rgba(0, 103, 209, 0.1);
  }

  &__btn {
    @apply text-color-text-primary;
    @apply border border-solid border-color-border-separator;
    @apply text-xs;
    @apply leading-6;
    @apply rounded-sm;
    @apply py-0 px-5;
    @apply cursor-pointer;
    @apply outline-0;
    @apply bg-transparent;

    [disabled] {
      @apply text-color-text-disabled;
      @apply cursor-not-allowed;
    }
  }

  &__icon-btn {
    @apply text-sm;
    @apply leading-4;
    @apply fill-color-text-primary;
    @apply border-0;
    background: 0 0;
    @apply cursor-pointer;
    @apply outline-0;

    &:hover {
      @apply fill-color-brand;
    }

    &.is-disabled {
      @apply text-color-text-disabled;

      &:hover {
        @apply cursor-not-allowed;
      }
    }
  }

  &__link-btn {
    @apply align-middle;
  }

  [slot='sidebar'],
  &__sidebar {
    @apply absolute;
    @apply top-0;
    @apply bottom-0;
    width: 116px;
    @apply border-r border-r-color-bg-3;
    @apply box-border;
    padding-top: 20px;
    @apply bg-color-bg-1;
    @apply overflow-auto;

    & + .@{picker-panel-prefix-cls}__body {
      margin-left: 116px;
    }
  }

  &__timezone {
    @apply py-1 px-0;
    @apply border-t border-t-color-bg-3;

    .@{picker-panel-prefix-cls}__tzlist {
      @apply z-10;
      @apply overflow-y-hidden;

      &-li {
        @apply h-8;
        @apply leading-8;
        @apply my-0 mx-2;
        @apply py-0 px-2;
        @apply rounded;
        @apply whitespace-nowrap;
        @apply overflow-hidden;
        @apply text-ellipsis;
        @apply cursor-pointer;

        &:hover {
          @apply bg-color-brand;
          @apply text-color-text-inverse;
        }
      }

      .@{css-prefix}popup {
        @apply absolute;
        width: 272px;
        bottom: 98px;
        max-height: 302px;
        @apply border-t border-t-color-bg-3;
      }
    }

    .@{input-prefix-cls} {
      @apply relative;

      input {
        @apply border-0;
      }

      svg {
        @apply !fill-color-text-primary;
      }
    }
  }
}

.@{date-picker-prefix-cls},
.@{date-range-picker-prefix-cls} {
  &__time-header {
    @apply relative;
    @apply text-xs;
    @apply h-10;
    @apply leading-10;
    @apply table;
    @apply w-full;
    @apply box-border;
    @apply border-b border-b-color-bg-3;
  }

  &__editors-wrap:first-child {
    @apply border-r border-r-color-bg-3;
    @apply relative;
    @apply -left-px;
  }

  &__editor-wrap,
  &__time-picker-wrap {
    @apply relative;
    @apply table-cell;
    padding: 0 5px;

    &:first-child::before {
      @apply content-[''];
      @apply h-6;
      @apply absolute;
      @apply right-0;
      @apply top-2;
      @apply border-r border-r-color-bg-3;
    }

    .@{input-prefix-cls}__inner {
      @apply border-0;
      @apply text-center;
      @apply text-color-text-primary;
    }
  }
}

.@{date-picker-prefix-cls} {
  width: 360px;

  &.has-sidebar.has-time {
    width: 434px;
  }

  &.has-sidebar {
    width: 525px;
  }

  &.has-time {
    .@{picker-panel-prefix-cls}__body-wrapper {
      @apply relative;
    }
  }

  table {
    @apply table-fixed;
    @apply w-full;
  }

  &__header {
    @apply p-4;
    @apply h-12;
    @apply text-center;
  }

  &__header--bordered {
    @apply mb-0;
    @apply pb-3;

    & + .@{picker-panel-prefix-cls}__content {
      @apply mt-0;
    }
  }

  &__header-label {
    @apply text-xs;
    @apply font-medium;
    @apply py-0 px-1;
    @apply text-center;
    @apply cursor-pointer;
    @apply text-color-text-primary;
    @apply align-middle;

    &.active,
    &:hover {
      @apply text-color-brand;
    }
  }

  &__prev-btn {
    @apply float-left;
  }

  &__next-btn {
    float: right;
  }

  &__time-wrap {
    @apply ~'p-2.5';
    @apply text-center;
  }

  &__time-label {
    @apply float-left;
    @apply cursor-pointer;
    line-height: 30px;
    @apply ~'ml-2.5';
  }
}

.@{date-range-picker-prefix-cls} {
  width: 552px;

  &.has-sidebar {
    width: 662px;
  }

  table {
    @apply table-fixed;
    @apply w-full;
  }

  .@{picker-panel-prefix-cls}__body {
    min-width: 513px;
  }

  .@{picker-panel-prefix-cls}__content {
    @apply m-0;
  }

  &__header {
    @apply relative;
    @apply text-center;
    @apply p-4;
    @apply h-12;

    [class*='arrow-left'] {
      @apply float-left;
    }

    [class*='arrow-right'] {
      float: right;
    }

    div {
      @apply text-xs;
      @apply font-medium;
      margin-right: 50px;
    }
  }

  &__content {
    @apply float-left;
    @apply ~'w-1/2';
    @apply box-border;
    @apply m-0;
    @apply pt-4 pr-4~"pb-1.5" pl-4;

    &.is-left {
      @apply border-r border-r-color-bg-3;
    }

    .@{date-range-picker-prefix-cls}__header div {
      margin-left: 50px;
      margin-right: 50px;
    }
  }

  &__editors-wrap {
    @apply box-border;
    @apply table-cell;

    &.is-right {
      @apply text-right;
    }
  }

  &__time-header {
    & > .@{css-prefix}icon-arrow-right {
      @apply text-xl;
      @apply align-middle;
      @apply table-cell;
      @apply text-color-text-primary;
    }
  }

  &__time-picker-wrap {
    @apply relative;
    @apply table-cell;
    padding: 0 5px;

    .@{picker-panel-prefix-cls} {
      @apply absolute;
      top: 13px;
      @apply right-0;
      @apply ~'z-[1]';
      @apply bg-color-bg-1;
    }
  }
}

.@{time-range-picker-prefix-cls} {
  width: 548px;
  @apply overflow-visible;

  &__content {
    @apply relative;
    @apply text-center;
    @apply flex;
    @apply justify-start;
    @apply items-start;
  }

  &__cell {
    @apply box-border;
    @apply m-0;
    @apply ~'w-1/2';
  }

  &__header {
    @apply p-4;
    @apply h-12;
    @apply text-center;
    @apply text-xs;
  }

  &__body {
    @apply border-r border-r-color-bg-3;
  }
}

.@{time-panel-prefix-cls} {
  margin: 5px 0;
  @apply bg-color-bg-1;
  @apply shadow-md;
  @apply rounded;
  @apply absolute;
  width: 274px;
  @apply left-0;
  @apply ~'z-[1000]';
  @apply box-content;
  .user-select(none);

  &__content {
    font-size: 0;
    @apply relative;
    @apply overflow-hidden;

    &:before {
      @apply content-[''];
      @apply ~"top-1/2";
      @apply absolute;
      @apply ~"-translate-y-2/4";
      @apply h-12;
      @apply ~'-z-[1]';
      @apply left-0;
      @apply right-0;
      @apply box-border;
      @apply ~"pt-1.5";
      @apply text-left;
      @apply border-t border-t-color-bg-3;
      @apply border-b border-b-color-bg-3;
    }

    &:after {
      @apply ~'left-1/2';
      margin-left: 12%;
      margin-right: 12%;
    }

    &:before {
      padding-left: 50%;
      margin-right: 12%;
      margin-left: 12%;
    }

    &.has-seconds {
      &:after {
        left: calc(100% / 3 * 2);
      }

      &:before {
        padding-left: calc(100% / 3);
      }
    }
  }

  &__footer {
    @apply border-t border-t-color-bg-3;
    @apply py-3 px-4;
    @apply h-14;
    @apply leading-8;
    @apply box-border;
    @apply flex;
    @apply justify-between;
  }

  &__btn {
    @apply border-none;
    @apply leading-7;
    min-width: 72px;
    @apply h-7;
    @apply cursor-pointer;
    @apply bg-transparent;
    @apply outline-0;
    @apply p-0;
    @apply m-0;
    @apply rounded-sm;
    @apply text-xs;

    &.cancel {
      @apply text-color-brand;
      @apply text-left;
    }

    &.confirm {
      @apply text-color-text-inverse;
      @apply bg-color-brand;

      &:hover {
        @apply bg-color-brand-hover;
      }
    }
  }
}

.@{time-select-prefix-cls} {
  .@{scrollbar-prefix-cls}__wrap {
    @apply p-0;
    @apply !mb-0;
  }

  & &__item {
    @apply text-color-text-primary;
    @apply py-0 px-4;
    @apply text-xs;
    @apply leading-10;

    &:not(.disabled):hover {
      @apply bg-color-bg-4;
      @apply cursor-pointer;
    }

    &.selected:not(.disabled) {
      @apply text-color-brand;
      @apply bg-color-bg-1;

      &:hover {
        @apply bg-color-bg-4;
      }
    }

    &.disabled {
      @apply text-color-text-disabled;
      @apply cursor-not-allowed;

      &.selected {
        @apply text-color-brand-disabled;
      }
    }
  }
}

.@{scrollbar-prefix-cls} {
  @apply overflow-hidden;
  @apply relative;

  &:active > &__bar,
  &:focus > &__bar,
  &:hover > &__bar {
    @apply opacity-100;
    transition: opacity 340ms ease-out;
  }

  &__wrap {
    @apply overflow-scroll;
    @apply h-full;
  }

  &__wrap--hidden-default::-webkit-scrollbar {
    @apply w-0;
    @apply h-0;
  }

  &__thumb {
    @apply relative;
    @apply block;
    @apply w-0;
    @apply h-0;
    @apply cursor-pointer;
    border-radius: inherit;
    @apply bg-color-bg-3;
    transition: 0.3s background-color;

    &:hover {
      @apply bg-color-border-disabled;
    }
  }

  &__bar {
    @apply absolute;
    @apply ~'right-0.5';
    @apply ~'bottom-0.5';
    @apply ~'z-[1]';
    @apply rounded;
    @apply opacity-0;
    transition: opacity 120ms ease-out;

    &.is-vertical {
      @apply w-1;
      @apply ~'top-0.5';

      & > div {
        @apply w-full;
      }
    }

    &.is-horizontal {
      @apply h-1;
      @apply ~"left-0.5";

      & > div {
        @apply h-full;
      }
    }
  }
}

.@{css-prefix} {
  &fade-in-linear-enter-active,
  &fade-in-linear-leave-active {
    @apply transition-opacity duration-200 ease-linear;
  }

  &fade-in-linear-enter,
  &fade-in-linear-enter-from,
  &fade-in-linear-leave-from,
  &fade-in-linear-leave-active {
    @apply opacity-0;
  }

  &fade-in-enter-active,
  &fade-in-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }

  &fade-in-enter,
  &fade-in-enter-from,
  &fade-in-leave-active {
    @apply opacity-0;
  }

  &zoom-in-center-enter-active,
  &zoom-in-center-leave-active {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }

  &zoom-in-center-enter,
  &zoom-in-center-enter-from,
  &zoom-in-center-leave-active {
    @apply opacity-0;
    @apply scale-x-0;
  }

  &zoom-in-top-enter-active,
  &zoom-in-top-leave-active {
    @apply opacity-100;
    @apply scale-y-100;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: center top;
  }

  &zoom-in-top-enter,
  &zoom-in-top-enter-from,
  &zoom-in-top-leave-active {
    @apply opacity-0;
    @apply scale-y-0;
  }

  &zoom-in-bottom-enter-active,
  &zoom-in-bottom-leave-active {
    @apply opacity-100;
    @apply scale-y-100;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: center bottom;
  }

  &zoom-in-bottom-enter,
  &zoom-in-bottom-enter-from,
  &zoom-in-bottom-leave-active {
    @apply opacity-0;
    @apply scale-y-0;
  }

  &zoom-in-left-enter-active,
  &zoom-in-left-leave-active {
    @apply opacity-100;
    @apply scale-x-100 scale-y-100;
    transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    @apply origin-top-left;
  }

  &zoom-in-left-enter,
  &zoom-in-left-enter-from,
  &zoom-in-left-leave-active {
    @apply opacity-0;
    transform: scale(0.45, 0.45);
  }

  &list-enter-active,
  &list-leave-active {
    @apply transition-all duration-1000;
  }

  &list-enter,
  &list-enter-from,
  &list-leave-active {
    @apply opacity-0;
    transform: translateY(-30px);
  }

  &opacity-transition {
    transition: opacity 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
}

.collapse-transition {
  transition: 0.3s height ease-in-out, 0.3s padding-top ease-in-out, 0.3s padding-bottom ease-in-out;
}

.horizontal-collapse-transition {
  transition: 0.3s width ease-in-out, 0.3s padding-left ease-in-out, 0.3s padding-right ease-in-out;
}

.fade-in-linear-enter,
.fade-in-linear-enter-from,
.fade-in-linear-leave,
.fade-in-linear-leave-from,
.fade-in-linear-leave-active {
  @apply opacity-0;
}

.fade-in-linear-enter-active,
.fade-in-linear-leave-active {
  @apply transition-opacity duration-200 ease-linear;
}
