@import './vars.less';

.tiny-space {
  .inject-Space-vars(); // 注入变量

  display: flex;
  flex-wrap: var(--tv-Space-wrap);
  flex-direction: var(--tv-Space-direction-column);
  justify-content: var(--tv-Space-justify-default);
  align-items: var(--tv-Space-align-default);
  gap: var(--tv-Space-default-gap);

  // 可通过 class 动态覆盖以下场景（可选）
  &.is-row {
    flex-direction: var(--tv-Space-direction-row);
  }

  &.is-column {
    flex-direction: var(--tv-Space-direction-column);
  }

  &.is-wrap {
    flex-wrap: wrap;
  }

  &.is-nowrap {
    flex-wrap: nowrap;
  }

  &.justify-start {
    justify-content: var(--tv-Space-justify-start);
  }

  &.justify-center {
    justify-content: var(--tv-Space-justify-center);
  }

  &.justify-end {
    justify-content: var(--tv-Space-justify-end);
  }

  &.justify-between {
    justify-content: var(--tv-Space-justify-between);
  }

  &.justify-around {
    justify-content: var(--tv-Space-justify-around);
  }

  &.align-start {
    align-items: var(--tv-Space-align-start);
  }

  &.align-center {
    align-items: var(--tv-Space-align-center);
  }

  &.align-end {
    align-items: var(--tv-Space-align-end);
  }

  &.align-stretch {
    align-items: var(--tv-Space-align-stretch);
  }

  // gap size 快捷类（可选）
  &.gap-sm {
    gap: var(--tv-Space-gap-sm);
  }

  &.gap-md {
    gap: var(--tv-Space-gap-md);
  }

  &.gap-lg {
    gap: var(--tv-Space-gap-lg);
  }

  &.gap-xl {
    gap: var(--tv-Space-gap-xl);
  }
}