.inject-SliderButton-vars() {
  // 次要文本色
  --tv-Slider-Button-color-text-secondary: var(--tv-color-text-secondary);

  // 品牌色 / 选中色
  --tv-Slider-Button-color-brand: var(--tv-color-text-active);

  // 未选中图标填充色
  --tv-Slider-Button-color-none-hover: var(--tv-color-icon);

  // 选中禁用品牌色
  --tv-Slider-Button-color-brand-disabled: var(--tv-color-bg-disabled-control-active);

  // 未选中禁用图标色
  --tv-Slider-Button-color-icon-disabled: var(--tv-color-icon-disabled);

  // 未选中禁用文本色
  --tv-Slider-Button-color-text-disabled: var(--tv-color-text-disabled);
}
