:root {
  --ti-mobile-pull-refresh-text-color: #808080;
  --ti-mobile-pull-refresh-font-size: 12px;
  --ti-mobile-pull-refresh-head-loading-bg-image: conic-gradient(rgb(128 128 128 / 10%), rgb(128 128 128 / 100%));
  --ti-mobile-pull-refresh-head-loading-icon-size-outside: 18px;
  --ti-mobile-pull-refresh-head-loading-icon-size-inside: 14px;
  --ti-mobile-pull-refresh-head-loading-icon-bg-color: #fff;
}
