.inject-Exception-vars() {
  // 一级标题颜色
  --tv-Exception-title-color: var(--tv-color-text, #191919);
  // 一级标题字体大小
  --tv-Exception-title-font-size: var(--tv-font-size-md, 16px);
  // 二级标题颜色
  --tv-Exception-sub-title-color: var(--tv-color-text-secondary, #595959);
   // 一级标题字体大小
  --tv-Exception-sub-title-font-size: var(--tv-font-size-sm, 14px);
}
