.component-css-vars-action-sheet() {
  --ti-mobile-action-sheet-content-bg-color: #fff;
  --ti-mobile-action-sheet-menu-bg-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-action-sheet-item-text-color: var(--ti-mobile-base-color-info-normal, #333);
  --ti-mobile-action-sheet-item-warn-text-color: #f36f64;
  --ti-mobile-action-sheet-item-font-size: 12px;
  --ti-mobile-action-sheet-item-border-color: #ddd;
  --ti-mobile-action-sheet-item-active-bg-color: #ececec;
  --ti-mobile-action-sheet-item-active-text-color: #039be5;
  --ti-mobile-action-sheet-action-bg-color: var(--ti-mobile-base-color-light, #fff);
}
