@keyframes stroke-dash-loop {
  // chart-core:loading-dash,tree:loading-dash
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40px;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120px;
  }
}

/* =相关补充= */

@keyframes stroke-dash-reverse {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 40px;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: 120px;
  }
}

/* =补充结束= */