@import '../custom.less';

.@{css-prefix}transition-zoom-in-top-enter-active,
.@{css-prefix}transition-zoom-in-top-leave-active {
  @apply opacity-100;
  @apply scale-y-100;
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}

.@{css-prefix}transition-zoom-in-top-enter,
.@{css-prefix}transition-zoom-in-top-enter-from,
.@{css-prefix}transition-zoom-in-top-leave-to {
  @apply opacity-0;
  @apply scale-y-0;
  transform-origin: center top;
}
