.component-css-vars-color-select-panel() {
  --ti-color-select-panel-background: var(--ti-common-color-transparent, transparent);
  --ti-color-select-panel-border-color: var(--ti-base-color-common-2, #adb0b8);
  --ti-color-select-panel-border-weight: var(--ti-common-border-weight-normal, 1px);
  --ti-color-select-panel-border-radius-xs: var(--ti-common-border-radius-normal, 2px);
  --ti-color-select-panel-border-radius-sm: var(--ti-common-border-radius-1, 4px);
  --ti-color-select-panel-border-radius: var(--ti-common-border-radius-2, 8px);
  --ti-color-select-panel-spacing: var(--ti-common-space-base, 4px);
  --ti-color-select-panel-spacing-2x: var(--ti-common-space-2x, 8px);
  --ti-color-select-panel-shadow: var(--ti-common-shadow-2-down, 0 2px 8px 0 rgba(0, 0, 0, 0.2));
  --ti-color-select-panel__wrapper-zindex: 10;
  --ti-color-select-panel__wrapper-bg: var(--ti-common-color-bg-white-emphasize, #f2f5fc);
}