.inject-ColorSelectPanel-vars() {
  // 弹出框右侧色调框圆角
  --tv-ColorSelectPanel-border-radius-lg: var(--tv-border-radius-lg, 8px);
  // 面板圆角
  --tv-ColorSelectPanel-border-radius-md: var(--tv-border-radius-md, 6px);
  // 历史记录展开框颜色块圆角
  --tv-ColorSelectPanel-border-radius-sm: var(--tv-border-radius-sm, 4px);
  // 弹出框垂直内边距
  --tv-ColorSelectPanel-padding-y: var(--tv-space-md, 8px);
  // 弹出框水平内边距
  --tv-ColorSelectPanel-padding-x: var(--tv-space-md, 8px);
  // alpha选择条上外边距
  --tv-ColorSelectPanel-alpha-margin-top: var(--tv-space-md, 8px);
  // 弹出框阴影
  --tv-ColorSelectPanel-box-shadow: var(--tv-shadow-2-down, 0 2px 12px 0 rgba(0, 0, 0, 0.16));
  // 弹出框背景色
  --tv-ColorSelectPanel-bg-color: var(--tv-color-bg-3, #ffffff);
  // 颜色工具栏高度
  --tv-ColorSelectPanel-tools-line-height: 40px;
}
