.component-css-vars-upload-list() {
  --ti-mobile-upload-list-item-border-radius: 2px;
  --ti-mobile-upload-list-item-bgcolor: #f9f9f9;
  --ti-mobile-upload-list-icon-close-color: #606266;
  --ti-mobile-upload-list-icon-size: 24px;
  --ti-mobile-upload-list-picture-card-close-size: 16px;
  --ti-mobile-upload-list-picture-card-close-color: #f36f64;
  --ti-mobile-upload-list-file-type-icon-size: 40px;
  --ti-mobile-upload-list-file-type-icon-color: #606266;
  --ti-mobile-upload-list-file-name-color: #333;
  --ti-mobile-upload-list-file-name-font-size: 14px;
  --ti-mobile-upload-list-file-size-color: #999;
  --ti-mobile-upload-list-file-size-font-size: 12px;
  --ti-mobile-upload-list-progress-outer-bgcolor: #e6e6e6;
}
