.tiny-toolbar-menu {
  &__view {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
    background-color: var(--ti-rich-text-editor-button-bg-color);
    padding: 5px;
    border: 1px solid var(--ti-rich-text-editor-box-border-color);
  }

  &__item {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1px;
    position: relative;
    outline: none;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--ti-rich-text-editor-button-bg-color);
    padding: 2px 3px;

    &:hover {
      background-color: var(--ti-rich-text-editor-button-hover-bg);

      .tooltip {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0;
        color: var(--ti-rich-text-editor-button-text-color);
      }
    }

    &.is-active {
      background-color: var(--ti-rich-text-editor-button-active-bg);
    }

    &.is-disabled {
      color: var(--ti-rich-text-editor-button-disabled-text-color);
      cursor: not-allowed;
    }

    &:hover,
    &.is-active {
      .tiny-toolbar-menu__icon {
        svg,
        path {
          fill: var(--ti-rich-text-editor-button-hover);
        }
      }
    }

    & .tooltip {
      svg,
      path {
        fill: var(--ti-rich-text-editor-button-text-color);
      }
    }

    input {
      cursor: pointer;
    }

    input[type='color'] {
      border-radius: 50%;
      height: 18px;
      width: 18px;
      border: 0;
      top: 4px;
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: var(--ti-rich-text-editor-button-bg-color);
    padding: 0.15rem;
    top: 100%;

    .tiny-box-selector {
      &__view {
        display: flex;
        flex-direction: column;
        position: relative;
        border-top: 1px solid var(--ti-rich-text-editor-box-border-color);
        border-left: 1px solid var(--ti-rich-text-editor-box-border-color);
      }

      &__row {
        display: flex;
      }

      &__item {
        box-sizing: border-box;
        border-right: 1px solid var(--ti-rich-text-editor-box-border-color);
        border-bottom: 1px solid var(--ti-rich-text-editor-box-border-color);

        &.is-active {
          background-color: rgb(32 122 183 / 50%);
          border-color: rgb(32 122 183 / 50%);
        }
      }
    }
  }

  &__option {
    padding: 0.1rem;
    white-space: nowrap;

    &:hover {
      color: var(--ti-rich-text-editor-options-item-hover-color);

      svg,
      path {
        fill: var(--ti-rich-text-editor-options-item-hover-color);
      }
    }
  }
}
