.component-css-vars-rich-text-editor() {
  --ti-rich-text-editor-box-outline-color: var(--ti-common-color-line-normal);
  --ti-rich-text-editor-box-outline-hover-color: var(--ti-common-color-line-hover);
  --ti-rich-text-editor-button-hover: var(--ti-common-color-icon-hover);
  --ti-rich-text-editor-button-active: var(--ti-common-color-icon-active);
  --ti-rich-text-editor-button-disabled: var(--ti-common-color-icon-disabled);
  --ti-rich-text-editor-poplist-item-selected-bg-color: var(--ti-common-color-selected-background);
  --ti-rich-text-editor-poplist-item-selected-text-color: var(--ti-common-color-selected-text-color);
  --ti-rich-text-edito-options-bg-color: var(--ti-common-color-bg-white-normal);
  --ti-rich-text-edito-options-box-shadow: var(--ti-common-shadow-2-down);
  --ti-rich-text-edito-options-border-radius: var(--ti-common-border-radius-normal);
  --ti-rich-text-edito-options-item-padding: var(--ti-common-space-6) var(--ti-common-space-5x);
  --ti-rich-text-edito-options-item-hover-color: var(--ti-common-color-icon-hover);
}
