:root {
  // 复选框图标宽度
  --ti-mobile-checkbox-width: var(--ti-mobile-space-6x, 24px);
  // 复选框图标高度
  --ti-mobile-checkbox-height: var(--ti-mobile-checkbox-width, 24px);
  // 复选框文本行高
  --ti-mobile-checkbox-line-height: 22px;
  // 复选框右边距
  --ti-mobile-checkbox-margin-right: var(--ti-mobile-space-2x, 8px);
  // 复选框图标与文本间距
  --ti-mobile-checkbox-label-padding-left: var(--ti-mobile-space-2x, 8px);
  // 复选框图标背景色
  --ti-mobile-checkbox-bg-color: var(--ti-mobile-color-bg-container-1, #ffffff);
  // 复选框图标圆角
  --ti-mobile-checkbox-border-radius: var(--ti-mobile-border-radius-s, 4px);
  // 复选框图标边框色
  --ti-mobile-checkbox-border-color: var(--ti-mobile-color-border-default, #c2c2c2);
  // 复选框选中图标边框色
  --ti-mobile-checkbox-checked-border-color: var(--ti-mobile-color-icon-link, #1476ff);
  // 复选框选中图标背景色
  --ti-mobile-checkbox-checked-bg-color: var(--ti-mobile-color-icon-link, #1476ff);
  // 复选框选中对勾图标色
  --ti-mobile-checkbox-selected-border-color: var(--ti-mobile-color-icon-inverse, #ffffff);
  // 复选框半选背景色
  --ti-mobile-checkbox-indeterminate-bg-color: var(--ti-mobile-color-icon-inverse, #ffffff);
  // 复选框文本色
  --ti-mobile-checkbox-text-color: var(--ti-mobile-color-text-primary, #191919);
  // 复选框字号
  --ti-mobile-checkbox-font-size: var(--ti-mobile-font-size-m, 14px);
  // 复选框禁用文本色
  --ti-mobile-checkbox-disabled-text-color: var(--ti-mobile-color-text-disabled, #c2c2c2);
  // 复选框禁用图标背景色
  --ti-mobile-checkbox-disabled-bg-color: var(--ti-mobile-color-bg-container-2, #fafafa);
  // 复选框勾选且禁用背景色
  --ti-mobile-checkbox-checked-disabled-bg-color: var(--ti-mobile-color-bg-control-disabled-1, #dbdbdb);
  // 复选框禁用图标边框色
  --ti-mobile-checkbox-disabled-border-color: var(--ti-mobile-color-border-disabled, #dbdbdb);
}
