@import '../custom.less';

.input-readonly(@color) {
  &.readonly,
  &[readonly] {
    @apply cursor-not-allowed;
    @apply shadow-none;

    &:focus,
    &:active,
    &.active,
    &[active],
    &:hover {
      border-color: @color;
    }
  }
}

.input-size(@height) {
  .@{css-prefix}input__inner {
    height: @height;
    line-height: @height;
  }

  .@{css-prefix}input__suffix {
    line-height: calc(@height - 2px);
  }
}
