@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-xs-max: (@screen-xs-min - 1);
@screen-phone: @screen-xs;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-sm-max: (@screen-sm-min - 1);
@screen-tablet: @screen-sm;
@screen-md: 992px;
@screen-md-min: @screen-md;
@screen-md-max: (@screen-md-min - 1);
@screen-desktop: @screen-md;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-max: (@screen-lg-min - 1);
@screen-lg-desktop: @screen-lg;
@screen-xl: 1920px;
@screen-xl-min: @screen-xl;
@screen-xl-max: (@screen-xl-min - 1);
@screen-wide-desktop: @screen-xl;
@container-tablet: ((@screen-sm + @grid-gutter-width));
@container-sm: @container-tablet;
@container-desktop: ((@screen-md + @grid-gutter-width));
@container-md: @container-desktop;
@container-large-desktop: ((@screen-lg + @grid-gutter-width));
@container-lg: @container-large-desktop;
@container-wide-desktop: ((@screen-xl + @grid-gutter-width));
@container-xl: @container-wide-desktop;
@grid-columns: 24;
@grid-gutter-width: 16px;
