.is-active-anchor {
  border: 1px solid #333;
}

.scroll-container {
  height: 40vh;
  overflow: auto;
}

.sec-1 {
  height: 50vh;
  background: rgba(135, 206, 235, 0.1);
}

.sec-2 {
  height: 50vh;
  background: rgba(135, 206, 235, 0.3);
}

.sec-3 {
  background: rgba(135, 206, 235, 0.6);
  padding-top: 20vh;
}

.sec-3-1 {
  height: 50vh;
  background: rgba(135, 206, 235, 0.8);
}

.sec-3-2 {
  height: 50vh;
  background: rgba(135, 206, 235, 1);
}