:root {
  --ti-tall-storage-margin-top: 2px;
  --ti-tall-storage-bgcolor: #fff;
  --ti-tall-storage-border-radius: 2px;
  --ti-tall-storage-item-height: 30px;
  --ti-tall-storage-item-padding: 0 8px;
  --ti-tall-storage-item-bgcolor: #e6f7ff;
}
