@import './mixins/common.less';
@import '../custom.less';

@grid-modal-prefix-cls: ~'@{css-prefix}grid-modal';

.@{grid-modal-prefix-cls} {
  &__wrapper {
    @apply hidden;
    @apply fixed;
    @apply top-0;
    @apply left-0;
    @apply w-full;
    @apply h-full;
    @apply text-xs;
    @apply text-color-text-primary;
    font-family: Helvetica, Arial, 'Microsoft YaHei', sans-serif;
    transition: top 0.4s;

    &.active {
      @apply block;
    }

    &.is__visible {
      &.is__mask {
        &:before {
          @apply bg-black bg-opacity-50;
        }
      }

      &.type__message {
        .@{grid-modal-prefix-cls}__box {
          @apply translate-y-0;
        }
      }

      &:not(.type__message) {
        .@{grid-modal-prefix-cls}__box:not(.is__drag) {
          top: 15vh;
          transition: top 0.3s ease-in, opacity 0.4s ease-in;
        }
      }

      .@{grid-modal-prefix-cls}__box {
        @apply opacity-100;
        @apply visible;
      }
    }

    &:not(.lock__view) {
      @apply pointer-events-none;
    }

    &.lock__scroll {
      @apply overflow-hidden;
    }

    &:not(.lock__scroll) {
      @apply overflow-auto;
    }

    &.lock__view,
    &.is__mask {
      &:before {
        @apply content-[''];
        @apply fixed;
        @apply top-0;
        @apply left-0;
        @apply w-full;
        @apply h-full;
        @apply ~'-z-[1]';
        @apply pointer-events-auto;
      }
    }

    &.is__mask {
      &:before {
        @apply bg-black bg-opacity-0;
      }
    }

    &.is__animat {
      &.is__mask {
        &:before {
          .animatTransition(background-color, 0.2s);
        }
      }

      &.type__message {
        .@{grid-modal-prefix-cls}__box {
          &:not(.is__drag) {
            .animatTransition(all, 0.2s, ease-out);
          }
        }
      }
    }

    &.size__small,
    &.size__mini {
      @apply text-xs;

      .@{grid-modal-prefix-cls}__box {
        @apply ~'py-1.5' px-0;
      }

      .@{grid-modal-prefix-cls}__body {
        @apply ~'pt-1 pr-3.5 pb-2.5 pl-3.5';
      }

      .@{grid-modal-prefix-cls}__footer {
        @apply ~'pt-1 pr-3.5 pb-2 pl-3.5';
      }

      .@{grid-modal-prefix-cls}__header {
        @apply text-sm;
        padding: 6px 30px 8px 14px;
      }

      .@{grid-modal-prefix-cls}__zoom-btn,
      .@{grid-modal-prefix-cls}__close-btn {
        @apply text-base;
        @apply ~'top-2.5';
      }
    }

    &.type__message,
    &.type__alert,
    &.type__confirm {
      .@{grid-modal-prefix-cls}__body {
        @apply whitespace-normal;
        word-wrap: break-word;
        @apply break-all;
      }
    }

    &.type__message {
      @apply text-center;

      .@{grid-modal-prefix-cls}__box {
        @apply inline-block;
        @apply ~'py-0.5 px-0';
        @apply mt-0;
        @apply w-auto;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
        transform: translateY(-10%);

        .@{grid-modal-prefix-cls}__body {
          &:after {
            @apply content-[''];
            @apply block;
            @apply clear-both;
            @apply h-0;
            @apply overflow-hidden;
            @apply invisible;
          }
        }

        .@{grid-modal-prefix-cls}__content {
          max-width: 800px;
          @apply float-left;
        }
      }

      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-base;
        @apply ~'pr-2.5';
      }
    }

    &.type__modal,
    &.type__alert,
    &.type__confirm {
      .@{grid-modal-prefix-cls}__box {
        @apply flex;
        @apply flex-col;
        @apply absolute;
        @apply ~'left-1/2';
        @apply top-0;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

        .@{grid-modal-prefix-cls}__header {
          @apply cursor-move;
        }
      }
    }

    &.type__modal {
      .@{grid-modal-prefix-cls}__body {
        @apply overflow-auto;

        .@{grid-modal-prefix-cls}__content {
          @apply overflow-auto;
        }
      }
    }

    &.type__alert,
    &.type__confirm {
      .@{grid-modal-prefix-cls}__status-wrapper {
        font-size: 22px;
        @apply ~'pt-0 pr-2.5 pb-0 pl-0.5';
      }
    }

    &.status__info {
      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-color-brand;
      }
    }

    &.status__warning,
    &.status__question {
      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-color-warning;
      }
    }

    &.status__success {
      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-color-success;
      }
    }

    &.status__error {
      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-color-error;
      }
    }

    &.status__loading {
      .@{grid-modal-prefix-cls}__status-wrapper {
        @apply text-color-info-secondary;
      }
    }

    &.is__maximize {
      .@{grid-modal-prefix-cls}__box {
        .@{grid-modal-prefix-cls}__header {
          @apply cursor-default;
        }
      }

      .@{grid-modal-prefix-cls}__resize {
        .wl-resize,
        .wr-resize,
        .swst-resize,
        .sest-resize,
        .st-resize,
        .swlb-resize,
        .selb-resize,
        .sb-resize {
          @apply hidden;
        }
      }
    }
  }

  &__box {
    width: 420px;
    @apply bg-color-bg-1;
    @apply border border-solid border-color-bg-2;
    @apply text-sm;
    @apply text-left;
    @apply pointer-events-auto;
    @apply invisible;
    @apply opacity-0;

    &.is__drag {
      @apply cursor-move;

      .@{grid-modal-prefix-cls}__body,
      .@{grid-modal-prefix-cls}__footer {
        &:after {
          @apply content-[''];
          @apply absolute;
          @apply top-0;
          @apply left-0;
          @apply w-full;
          @apply h-full;
        }
      }

      .@{grid-modal-prefix-cls}__body {
        @apply overflow-hidden;

        .@{grid-modal-prefix-cls}__content {
          @apply overflow-hidden;
        }
      }
    }
  }

  &__status-wrapper {
    @apply shrink-0;
    @apply flex;
    @apply items-center;
  }

  &__status-icon {
    @apply not-italic;
  }

  &__content {
    @apply flex-grow;
  }

  &__header,
  &__body,
  &__footer {
    @apply relative;
  }

  &__body {
    @apply flex;
    @apply flex-grow;
    @apply p-6;
  }

  &__header {
    @apply shrink-0;
    @apply text-sm;
    @apply font-bold;
    padding: 9px 40px 10px 24px;
    @apply border-b border-b-color-border;
    @apply select-none;
  }

  &__zoom-btn,
  &__close-btn {
    @apply text-sm;
    @apply absolute;
    @apply right-6;
    top: 13px;
    @apply ~'z-[1]';
    @apply text-color-text-placeholder;
    @apply cursor-pointer;

    &:hover {
      @apply text-color-brand;
    }
  }

  &__zoom-btn {
    @apply right-11;
    @apply border-color-text-placeholder;

    &:hover {
      @apply border-x-color-border-hover;
    }
  }

  &__footer {
    @apply shrink-0;
    @apply text-right;
    @apply pt-0 pr-6 pb-6 pl-6;
  }

  &__resize {
    @SpaceSize: 8px;

    .wl-resize,
    .wr-resize,
    .swst-resize,
    .sest-resize,
    .st-resize,
    .swlb-resize,
    .selb-resize,
    .sb-resize {
      @apply absolute;
      @apply ~'z-[100]';
    }

    .wl-resize,
    .wr-resize {
      width: @SpaceSize;
      @apply h-full;
      @apply top-0;
      @apply cursor-w-resize;
    }

    .wl-resize {
      left: -@SpaceSize / 2 + 1;
    }

    .wr-resize {
      right: -@SpaceSize / 2 + 1;
    }

    .swst-resize,
    .sest-resize,
    .swlb-resize,
    .selb-resize {
      width: @SpaceSize + 2;
      height: @SpaceSize + 2;
      @apply ~'z-[101]';
    }

    .swst-resize,
    .sest-resize {
      top: -@SpaceSize;
    }

    .swlb-resize,
    .selb-resize {
      bottom: -@SpaceSize;
    }

    .sest-resize,
    .swlb-resize {
      @apply cursor-sw-resize;
    }

    .swst-resize,
    .selb-resize {
      @apply cursor-se-resize;
    }

    .swst-resize,
    .swlb-resize {
      left: -@SpaceSize;
    }

    .sest-resize,
    .selb-resize {
      right: -@SpaceSize;
    }

    .st-resize,
    .sb-resize {
      @apply w-full;
      height: @SpaceSize;
      @apply left-0;
      @apply cursor-s-resize;
    }

    .st-resize {
      top: -@SpaceSize / 2 + 1;
    }

    .sb-resize {
      bottom: -@SpaceSize / 2 + 1;
    }
  }
}
