@import '../custom.less';
@import './vars.less';

@divider-prefix-cls: ~'@{css-prefix}divider';

.@{divider-prefix-cls} {
  .inject-Divider-vars();
  position: relative;

  &&--horizontal {
    display: block;
    margin: 24px 0;
    border-top: 1px solid var(--tv-Divider-dividing-line);
  }

  &&--vertical {
    display: inline-block;
    width: 1px;
    height: 1em;
    margin: 0 8px;
    vertical-align: middle;
    border-left: 1px solid var(--tv-Divider-dividing-line);
  }

  &__text {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: var(--tv-Divider-text-color);
    background-color: var(--tv-Divider-text-bg-color);

    &.is-left {
      left: 20px;
      transform: translateY(-50%);
    }

    &.is-center {
      left: 50%;
      transform: translate(-50%) translateY(-50%);
    }

    &.is-right {
      right: 20px;
      transform: translateY(-50%);
    }
  }
}
