.component-css-vars-divider() {
  // 不开放(hide)
  --ti-divider-dividing-line: var(--ti-common-color-bg-dark-disabled);
  // 文案背景色
  --ti-divider-text-bg-color: var(--ti-common-color-line-dividing);
  // 文案文本色
  --ti-divider-text-color: var(--ti-common-color-text-primary);
  //分割线横向透明度
  --ti-divider-horizontal-opacity: 1;
  //分割线纵向透明度
  --ti-divider-vertical-opacity: 1;
}
