:root {
  --ti-mobile-image-viewer-color: var(--ti-mobile-base-color-light, #fff);
  --ti-mobile-image-viewer-close-bgcolor: #606266;
  --ti-mobile-image-viewer-arrow-disabled-bgcolor: var(--ti-mobile-base-color-info-disabled, #bfbfbf);
  --ti-mobile-image-viewer-arrow-disabled-color: var(--ti-mobile-base-color-placeholder, #999);
  --ti-mobile-image-viewer-mask-background: var(--ti-mobile-base-color-dark, #000);
}
