// 文字大小
@import './common';

.ql-formats {
  .ql-lineheight > span {
    width: 50px;

    span::before {
      font-size: 14px;
    }
  }
  .ql-lineheight.ql-picker {
    span.ql-picker-label:before,
    .ql-picker-options > span.ql-picker-item::before {
      content: attr(data-value);
    }
  }
}
