@import './common';
// @import './styles-var/private/z-index';

// 模块：@提醒 mention
@mixin mention {
  .ql-mention-list-container {
    .ql-mention-list {
      position: absolute;
      background: #ffffff;
      opacity: 1;
      overflow-x: hidden;
      overflow-y: auto;
      width: auto;
      padding: 5px 0;
      list-style: none;
      border-radius: 2px;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
      z-index: 1052;

      &.ql-mention-list--hide {
        position: static;
        height: 0;
        opacity: 0;
        display: none;
      }

      & .ql-mention-item {
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 36px;
        line-height: 36px;
        padding: 0 20px;
        color: #252b3a;
        font-size: 14px;
        display: block;
        font-weight: normal;

        &.ql-mention-item--active {
          background-color: #5e7ce0;
          color: #ffffff;
        }
      }
    }
  }
  @include mentionLink;
}
