@import '../custom.less';
@time-select-prefix-cls: ~'@{css-prefix}time-select';

.@{time-select-prefix-cls} {
  // 选项悬浮背景色
  --tv-TimeSelect-item-hover-bg-color: #F2F5FC;
  // 选项悬浮色
  --tv-TimeSelect-item-hover-text-color: #526ECC;
  // 选中项字体色
  --tv-TimeSelect-item-selected-text-color: #FFFFFF;
  // 选中项悬浮字体色
  --tv-TimeSelect-item-selected-hover-text-color: #FFFFFF;
}
